ion-content{
    top: auto;
    position: absolute;
    z-index: 20001;
    height: 238px;
    bottom: 0 !important;
    --background: transparent !important;
    overflow: hidden;
    .element{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px -17px 46px #0000001A;
        border-radius: 24px 24px 0px 0px;

    }
    .c-row{
        margin-top: 17px;
        margin-left: 17px;
        .name{
            text-align: center;
            font-size: 18px;
            font-family: "PoppinsSemiBold" !important;
            letter-spacing: -0.18px;
            color: #000000;
            margin: auto;
        }
    }
    .c-item{
        margin-top: 17px;
        .cc-item{
            width: 100%;
            --padding-start: 0px;
        }
        .rond{
           /* padding: 17px;*/
            margin: 13px 0;
            width: 55px;
            height: 55px;
            background: #EAEBF2 0% 0% no-repeat padding-box;
            border-radius: 17px;
            margin-left: 20px;
            margin-right: 14px;
            .imgLast{
               /* width: 26px;
                height: 20px;*/
            }
        }
        .rond2{
            padding: 18px 16px;
            margin: 13px 0;
            width: 55px;
            height: 55px;
            background: #EAEBF2 0% 0% no-repeat padding-box;
            border-radius: 17px;
            margin-left: 20px;
            margin-right: 14px;
            .imgLast{
                width: 26px;
                height: 20px;
            }
        }
        .title{
            letter-spacing: -0.14px;
            color: #000000;
            font-size: 14px;
            font-family: "PoppinsSemiBold" !important;
        }
        .desc{
            letter-spacing: 0px;
            color: #14213A;
            opacity: 0.5;
            font-size: 12px;
            font-family: "PoppinsMedium" !important;
        }

    }
}
