<ion-content>
  <ion-row>
    <img *ngIf="base64Image" class="base-image" (click)="addContenu()" [src]="base64Image" />
  </ion-row>
  <ion-row *ngIf="!base64Image" class="addMedia" (click)="addContenu()">
    <ion-img class="appareil" src="assets/images/photo2.svg"></ion-img>
    <div class="ajouter">Ajouter un média</div>
    <div class="taille">Taille maximum : 25 Mo</div>
  </ion-row>

  <ion-row class="c-date">
    <span class="day">Aujourd'hui</span>
    <span class="bounce">.</span>
    <span class="heure"> {{dateSession}}. </span>
  </ion-row>
  <ion-row class="activite">
    <span class="rond">
      <ion-img [src]="activite.image"></ion-img>
    </span>
    <span class="nameActivity">{{activite.name}}</span>
  </ion-row>
  <ion-row class="message">
    <ion-input (keyup.enter)="publier()" (ionBlur)="blur($event)" (ionFocus)="active($event)"
      (ionChange)="changeInput($event)" [(ngModel)]="sessionNow.comment" class="c-textarea"
      placeholder="Comment c’est passé votre séance ?">
    </ion-input>
    <ion-img class="crayon" src="assets/images/crayon.PNG"></ion-img>
  </ion-row>
  <ion-row class="statistique">
    <ion-img class="imgStat" src="assets/images/statistique.svg"></ion-img>
    <span class="labelStat">STATISTIQUES</span>
  </ion-row>
  <ion-grid class="time">
    <ion-row>
      <span class="value">
        {{counter.mn | number: '2.0-0'}}:{{counter.s| number: '2.0-0'}}
      </span>
    </ion-row>
    <ion-row>
      <span class="duree"> Durée </span>
    </ion-row>
  </ion-grid>
  <ion-grid class="choice">
    <ion-row>
      <ion-col class="c-col" size="6" *ngFor="let item of listElement ; let i=index">
        <ion-row>
          <ion-img class="c-image"
            [ngStyle]="{'width': item.width ? item.width : item.width,'height' : item.height ? item.height : item.height}"
            [src]="item.img"></ion-img>
        </ion-row>
        <ion-row>
          <div class="element">
            <ion-label class="nombre"> {{item.nombre}} </ion-label>
            <span class="exposant" *ngIf="item.exposant">
              {{item.exposant}}
            </span>
          </div>
        </ion-row>
        <ion-row>
          <ion-label class="name"> {{item.name}} </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="statistique">
    <ion-img class="imgStat" src="assets/images/statistique.svg"></ion-img>
    <span class="labelStat">Commentaires</span>
  </ion-row>
  <ion-row class="c-row">
    <ion-item lines="none" class="c-item" *ngFor="let item of listReactions">
      <ion-row slot="start" class="c-row-first">
        <ion-avatar>
          <ion-img [src]="item?.img" class="img-personn"></ion-img>
        </ion-avatar>

        <ion-label class="nombre"> {{item?.nombre}}</ion-label>
      </ion-row>
      <ion-grid class="c-grid">
        <ion-row>
          <ion-item lines="none" class="item-name">
            <ion-label class="name"> {{item?.username}} </ion-label>
            <!-- <span class="point" ></span> -->
            <ion-label slot="end" class="date"> {{item?.date}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="comment">
          <ion-label> {{item?.commentaire}} </ion-label>
        </ion-row>
      </ion-grid>
      <ion-img slot="end" class="icon-end" [src]="item?.icon"></ion-img>
    </ion-item>
  </ion-row>
</ion-content>
<ion-footer >
    <div *ngIf="!isVisible" expand="block" class="c-ion-fab" (click)="publier()" type="submit">Publier
    </div>
</ion-footer>
