ion-content{
    --ion-background-color: #F4F5FA;
    .addMedia{
        border: 2px dashed #2A2A2C;
        border-radius: 29px;
        width: 89%;
        margin: 40px 23px;
        height: 117px;
        .appareil{
            width: 30px;
            height: 27px;
            margin: 20px auto 10px auto;
            width: 100%;
        }
        .ajouter{
            width: 100%;
            letter-spacing: -0.14px;
            color: #2A2A2C;
            opacity: 1;
            font-size: 14px;
            font-family: "PoppinsBold" !important;
            margin: auto;
            text-align: center;
            margin-top: -14px;
        }
        .taille{
            font-size: 10px;
            font-family: "PoppinsMedium" !important; 
            letter-spacing: -0.1px;
            color: #2A2A2C;
            opacity: 0.6;
            margin: auto;
            text-align: center;
            margin-top: -15px;
        }
    }
    .addMedia2{
        border: 2px dashed #2A2A2C;
        border-radius: 29px;
        width: 89%;
        margin: 40px 23px;
    }
    .base-image{
        border: 2px dashed #2A2A2C;
        border-radius: 29px;
        width: 89%;
        margin: 40px 23px;
        height: 117px;
    }
    .c-date{
        margin: 0 37px;
        display: flex;
        .day{
            letter-spacing: -0.1px;
            color: #26272B;
            font-family: "PoppinsMedium" !important;
            font-size: 10px;
            margin-right: 8px;
        }
        .heure{
            font-family: "PoppinsMedium" !important;
            font-size: 10px;
            letter-spacing: -0.1px;
            color: #26272B;
            opacity: 0.45;
        }
        .bounce{
            font-family: "PoppinsMedium" !important;
            letter-spacing: -0.1px;
            color: #26272B;
            opacity: 0.35;
            margin-right: 8px;
            margin-top: -9px;
        }
    }
    .activite{
        margin-top: 10px;
        .rond{
            width: 38px;
            height: 38px;
            background: #FFFFFF;
            border-radius: 50%;
            margin-left: 30px;
            padding: 10px 12px;
            ion-img{
                width: 14px;
                height: 15px;
            }
        }
        .nameActivity{
            letter-spacing: -0.18px;
            color: #000000;
            font-size: 18px;
            font-family: "PoppinsSemiBold" !important;
            margin-left: 15px;
            margin-top: 6px;

        }
    }
    .message{
        margin: 0 20px;
        ion-textarea{
            border-bottom: 2px solid #70707045;
            height: 45px;
            margin-left: 12px;
        }
        .crayon{
            margin-left: -30px;
            margin-top: 14px;
        }
        .sc-ion-textarea-md-h{
            letter-spacing: -0.14px !important;
            color: #26272B !important;
            opacity: 0.58 !important;
            font-size: 14px !important;
            font-family: "PoppinsMedium" !important;
            --padding-start: 0px;
        }
    }
    .statistique{
        margin: 28px;
        .labelStat{
            font-size: 13px;
            letter-spacing: -0.13px;
            color: #000000;
            text-transform: uppercase;
            font-family: "PoppinsBold" !important;
            margin-top: 4px;
            margin-left: 12px;
        }
    }
    .time{
        .value{
            font-family: "StaatlichesRegular";
            color: #2A2A2C;
            font-size: 60px;
            margin: auto;
            letter-spacing: 4px;
            font-weight: bold;
            margin-top: 22px;
        }
        .duree{
            margin: auto;
            color: #2A2A2C;
            opacity: 50%;
            font-family: "PoppinsMedium" !important;
            font-size: 14px;
            margin-top: 7px;
        }
    }
    .choice{
        .c-image{
            margin-top: 32px !important;
            margin: auto;
        }
        .element{
            margin: auto;
            margin-top: 16px  !important;
        }
        .nombre{
            color: #2A2A2C;
            font-size: 40px;
            font-family: "StaatlichesRegular";
            margin-top: 15px;
        }
        .exposant{
            position: absolute;
            color: #2A2A2C;
            font-size: 13px;
            margin-left: 5px;
            font-family: "PoppinsBold" !important;
        }
        .name{
            color: #2A2A2C;
            opacity: 50%;
            font-family: "PoppinsMedium" !important;
            font-size: 14px;
            margin: auto;
        }
    
        .c-col{
            margin: auto;
        }
    }
    .c-row{
        margin-top: 15px;
        margin-bottom: 120px;
   
    .c-item{
        --background: #FFFFFF;
        width: 95%;
        margin: 7px 11px;
        border-radius: 24px;
    }
    .point{
        position: absolute;
        width: 3px;
        height: 3px;
        background: #2A2A2C 0% 0% no-repeat padding-box;
        border-radius: 50%;
        margin-top: -28px;
        left: 55px;
    }
    .c-row-first{
        margin: 8px 0;
    }
    .nombre{
        width: 30px;
        background: white;
        border-radius: 50%;
        height: 30px;
        position: absolute;
        color: #14213A;
        margin-left: 39px;
        margin-top: 34px;
        font-size: 12px;
        padding-left: 8px;
        padding-top: 11px;
        font-family: "StaatlichesRegular";
        display: none;
    }
    .item-name{
        --ion-background-color: transparent; 
        margin-left: -18px;
        width: 100%;
    }
    .c-grid{
        margin-left: 15px;
    }
    .name{
        color: #2A2A2C;
        font-family: "PoppinsSemiBold" !important;
        font-size: 14px;
        margin-top: -18px;
    }
    .date{
        color: #2A2A2C;
        font-size: 10px;
        margin-left: 0px;
        margin-top: -19px;
        opacity: 50%;
    }
    .comment{
        opacity: 75%;
        margin-top: -23px;
        font-family: "PoppinsMedium" !important;
        color: #2A2A2C;
        font-size: 12px;
    }
    .icon-end{
        position: relative;
        right: -15px;
        bottom: -20px;
        z-index: 9999999999;
        width: 55px;
        height: 53px;
        margin-left: 0;
    }
}
.c-ion-fab{
    background: #3E4ADD 0% 0% no-repeat padding-box;
    border-radius: 33px;
    width: 88%;
    margin: 0 20px;
    height: 89px;
    text-align: center;
    padding-top: 30px;
    span{
        letter-spacing: 0px;
        color: #FFFFFF;
        font-size: 18px;
        font-family: "PoppinsSemiBold" !important;
    }
}
}