<ion-content>
  <ion-row  *ngIf="!base64" class="addMedia" (click)="addContenu()">
    <ion-img class="appareil" src="assets/images/photo2.svg"></ion-img>
    <div class="ajouter">
      Ajouter un média
    </div>
    <div class="taille">
      Taille maximum : 25 Mo
    </div>
  </ion-row>

  <ion-img class="base-image" *ngIf="base64" (click)="addContenu()" [src]="base64"></ion-img>

  <ion-row class="c-date">
    <span class="day">Aujourd'hui</span>
    <span class="bounce">.</span>
    <span class="heure">Il y a 5 min.</span>
  </ion-row>
  <ion-row class="activite">
    <span class="rond">
      <ion-img [src]="activite.image"></ion-img>
    </span>
    <span class="nameActivity">{{activite.name}}</span>
  </ion-row>
  <ion-row class="message">
    <ion-textarea [(ngModel)]="sessionNow.comment" class="c-textarea" placeholder="Comment c’est passé votre séance ?">
    </ion-textarea>
    <ion-img class="crayon" src="assets/images/crayon.PNG"></ion-img>
  </ion-row>
  <ion-row class="statistique">
    <ion-img class="imgStat" src="assets/images/statistique.svg"></ion-img>
    <span class="labelStat">STATISTIQUES</span>
  </ion-row>
  <ion-grid class="time">
    <ion-row>
      <span class="value">
        {{counter.mn | number: '2.0-0'}}:{{counter.s| number: '2.0-0'}}
      </span>
    </ion-row>
    <ion-row>
      <span class="duree">
        Durée
      </span>
    </ion-row>
  </ion-grid>
  <ion-grid class="choice">
    <ion-row>
      <ion-col class="c-col" size="6" *ngFor="let item of listElement ; let i=index">
        <ion-row>
          <ion-img class="c-image"
            [ngStyle]="{'width': item.width ? item.width : item.width,'height' : item.height ? item.height : item.height}"
            [src]="item.img"></ion-img>
        </ion-row>
        <ion-row>
          <div class="element">
            <ion-label class="nombre"> {{item.nombre}} </ion-label>
            <span class="exposant" *ngIf="item.exposant"> {{item.exposant}} </span>
          </div>
        </ion-row>
        <ion-row>
          <ion-label class="name">
            {{item.name}}
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="statistique">
    <ion-img class="imgStat" src="assets/images/statistique.svg"></ion-img>
    <span class="labelStat">Commentaires</span>
  </ion-row>
  <ion-row class="c-row">
    <ion-item lines="none" class="c-item" *ngFor="let item of listNotif">
      <ion-row slot="start" class="c-row-first">
        <ion-img [src]="item?.img" class="img-personn"></ion-img>
        <ion-label class="nombre"> {{item?.nombre}}</ion-label>
      </ion-row>
      <ion-grid class="c-grid">
        <ion-row>
          <ion-item lines="none" class="item-name">
            <ion-label class="name"> {{item?.name}} </ion-label>
            <!-- <span class="point" ></span> -->
            <ion-label slot="end" class="date"> {{item?.date}} </ion-label>
          </ion-item>
        </ion-row>

        <ion-row class="comment">
          <ion-label>
            {{item?.comment}}
          </ion-label>
        </ion-row>
      </ion-grid>
      <ion-img slot="end" class="icon-end" [src]="item?.icon"></ion-img>
    </ion-item>
    <!-- fab placed to the top end -->
  </ion-row>
  <ion-fab class="c-ion-fab" (click)="publier()" vertical="bottom" slot="fixed">
    <!-- <ion-fab-button> -->
    <span>Publier</span>
    <!-- </ion-fab-button> -->
  </ion-fab>
</ion-content>
