<ion-header style="background: #f7f7fa">
  <ion-toolbar>
    <ion-img slot="start" slot="start" class="img-back" src="assets/images/backArrow.svg" (click)="retour()"> </ion-img>
  </ion-toolbar>
  <section style="background: #f7f7fa; margin: 0 15px; margin-bottom: 10px">
    <ion-item lines="none">
      <ion-label class="label-step" slot="start">{{parseIntValue(step * 100) }} <span class="pourcent">%</span> </ion-label>
      <ion-label class="text-step" slot="end" style="margin: 0"><span class="active-step"> {{ activeIndex + 1}}</span> /
        5 STEPS</ion-label>
    </ion-item>

    <ion-progress-bar style="
        border-radius: 10px;
        height: 6px;
        --progress-background: #3e4add;
        --background: #ffffff;
      " [value]="step"></ion-progress-bar>
  </section>
</ion-header>
<ion-content>
  <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="change($event)" #slider>

    <ion-slide>
      <div class="sectionZone">
        <ion-label>
          <div class="create-profil">Création du profil</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <div
          style="font-size: 12px;margin-top: 75px;display: flex;flex-direction: column;gap: 20px;align-items: center;">
          <ion-avatar (click)="addPhoto()">
            <img class="c-picture" *ngIf="!picture" src="assets/images/profile.svg" />
            <img class="c-picture-in" [src]="picture" *ngIf="picture" alt="" />
            <ion-badge>
              <img src="assets/icon/pen.svg" alt="" />
            </ion-badge>
          </ion-avatar>
          <ion-item lines="none" class="c-form">
            <mat-form-field class="c-mat-form {{invalidInput}}" appearance="outline" color="warn">
              <mat-label>Identifiant</mat-label>
              <input matInput autocomplete="off" (keyup)="checkPseudo()" placeholder="Choisissez un pseudo..."
                class="form-control" [(ngModel)]="pseudo" />
            </mat-form-field>

          </ion-item>

        </div>
        <span class="error" *ngIf="errorPseudo!== '' "> {{errorPseudo}} </span>
      </div>
    </ion-slide>
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">Indiquez votre date de naissance</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <ion-row class="dateNaisse">
          <ion-item lines="none">
            <input type="number"  (keyup)="checkDate()" minlength="2" maxlength="2" [(ngModel)]="jour">
            <span class="barre"></span>
            <input type="number" id="dMois" #dMois  (keyup)="checkDate()" minlength="2" maxlength="2" [(ngModel)]="mois">
            <span class="barre"></span>
            <input type="number" id="dMois" #dAnnee  (keyup)="checkDate()" minlength="2" maxlength="2" [(ngModel)]="annee">
          </ion-item>
        </ion-row>
        <span class="invalidDate" *ngIf="invalidDate!== '' "> {{invalidDate}} </span>

      </section>
    </ion-slide>
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">A laquelle de ces options vous identifiez-vous le plus ?</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <div class="c-gender"></div>
        <app-gender (choix)="choiceSex($event)"></app-gender>
        <div class="c-div"></div>
      </section>
    </ion-slide>
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">Indiquez votre poids et taille</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <app-physics (taille)="physicParam($event)" (poids)="physicParam($event)"></app-physics>
      </section>
    </ion-slide>
    <ion-slide>
      <app-activity-list [header]="false" (activitesEvent)="eventActivite($event)"></app-activity-list>

    </ion-slide>
  </ion-slides>


</ion-content>
<ion-footer  *ngIf="activeIndex !== 4 && isVisible" class="fab"  (click)="nextStep()">
  <ion-button [class]="fabButton"  expand="block" class="buttonNextSlide">
    <span> Suivant</span>
  </ion-button>
</ion-footer>
<ion-footer  *ngIf="activeIndex === 4 && isVisible" class="fab"  (click)="validate()">
  <ion-button [class]="fabButton"  expand="block" class="buttonNextSlide">
    <span> Finaliser</span>
  </ion-button>
</ion-footer>
<ion-footer  class="ignore" *ngIf="activeIndex !== 0 && activeIndex !== 4 && isVisible">
  <span class="text-ignore" (click)="ignorer()">Ignorer cette étape</span>
</ion-footer>
<ion-footer  class="ignore2" *ngIf="activeIndex === 4 && isVisible">
  <span class="text-ignore2" (click)="validate()">Plus tard</span>
</ion-footer>
