<ion-header style="background: #f7f7fa">
  <ion-toolbar>
    <ion-img slot="start" slot="start" class="img-back" src="assets/images/backArrow.svg" (click)="retour()"> </ion-img>
  </ion-toolbar>
  <section style="background: #f7f7fa; margin: 0 15px; margin-bottom: 10px">
    <ion-item lines="none">
      <ion-label class="label-step" slot="start">{{ step * 100 }} <span class="pourcent">%</span> </ion-label>
      <ion-label class="text-step" slot="end" style="margin: 0"><span class="active-step"> {{ activeIndex + 1}}</span> /
        5 STEPS</ion-label>
    </ion-item>

    <ion-progress-bar style="
        border-radius: 10px;
        height: 6px;
        --progress-background: #3e4add;
        --background: #ffffff;
      " [value]="step"></ion-progress-bar>
  </section>
</ion-header>
<ion-content>
  <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="change($event)" #slider>
    
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">Création du profil</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <div
          style="font-size: 12px;margin-top: 75px;display: flex;flex-direction: column;gap: 20px;align-items: center;">
          <ion-avatar (click)="addPhoto()">
            <img class="c-picture" *ngIf="!picture" src="assets/images/profile.svg" />
            <img class="c-picture-in" [src]="picture" *ngIf="picture" alt="" />
            <ion-badge>
              <img src="assets/icon/pen.svg" alt="" />
            </ion-badge>
          </ion-avatar>
          <ion-item lines="none" class="c-form">
            <mat-form-field class="c-mat-form" appearance="outline" color="warn">
              <mat-label>Identifiant</mat-label>
              <input matInput autocomplete="off" placeholder="Choisissez un pseudo..." class="form-control"
                [(ngModel)]="pseudo" />
            </mat-form-field>
          </ion-item>
        </div>
        <ion-fab class="fab" horizontal="start" vertical="bottom" slot="fixed" style="width: 95%" (click)="savePhoto()">
          <ion-button [class]="fabButton" expand="block" class="buttonNextSlide">
            <span> suivant</span>
          </ion-button>
        </ion-fab>
      </section>
    </ion-slide>
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">Indiquez votre date de naissance</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <ion-row class="dateNaisse">
          <ion-item lines="none">
            <input type="text" (blur)="ckeckDate()" onKeyPress="if(this.date?.jour.length==2) return false;" numberOnly
              [(ngModel)]="date.jour">
            <span class="barre"></span>
            <input type="text" (blur)="ckeckDate()" onKeyPress="if(this.date?.mois.length==2) return false;" numberOnly
              [(ngModel)]="date.mois">
            <span class="barre"></span>
            <input type="text" (blur)="ckeckDate()" onKeyPress="if(this.date?.annee.length==2) return false;" numberOnly
              [(ngModel)]="date.annee">
          </ion-item>
        </ion-row>
        <ion-row class="ignore">
          <span class="text-ignore" (click)="ignorer()">Ignorer cette étape</span>
        </ion-row>
        <ion-fab class="fab2" horizontal="start" vertical="bottom" slot="fixed" style="width: 95%"
          (click)="saveDateNaiss()">
          <ion-button [class]="fabButton" expand="block" class="buttonNextSlide">
            Suivant
          </ion-button>
        </ion-fab>

      </section>
    </ion-slide>
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">A laquelle de ces options vous identifiez-vous le plus ?</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <div class="c-gender"></div>
        <app-gender (choix)="choiceSex($event)"></app-gender>
        <div class="c-div"></div>
        <ion-row class="ignore">
          <span class="text-ignore" (click)="ignorer()">Ignorer cette étape</span>
        </ion-row>
        <ion-fab class="fab2" horizontal="start" vertical="bottom" slot="fixed" style="width: 95%"
          (click)="genderSlide()">
          <ion-button [class]="fabButton" expand="block" class="buttonNextSlide">
            Suivant
          </ion-button>
        </ion-fab>
      </section>
    </ion-slide>
    <ion-slide>
      <section class="sectionZone">
        <ion-label>
          <div class="create-profil">Indiquez votre poids et taille</div>
          <div class="text-profil">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </div>
        </ion-label>
        <app-physics (taille)="physicParam($event)" (poids)="physicParam($event)"></app-physics>
        <ion-fab horizontal="start" vertical="bottom" slot="fixed" style="width: 95%" (click)="physicSlide()">
          <ion-button expand="block" class="buttonNextSlide">
            Suivant
          </ion-button>
        </ion-fab>
      </section>
    </ion-slide>
    <ion-slide>
      <app-activity-list [header]="false" (activitesEvent)="eventActivite($event)"></app-activity-list>
      <ion-fab horizontal="start" vertical="bottom" slot="fixed" style="width: 95%" (click)="validate()">
        <ion-button expand="block" class="buttonNextSlide">
          Suivant
        </ion-button>
      </ion-fab>
    </ion-slide>
  </ion-slides>
</ion-content>