<ion-content>
  <section style="background: #f7f7fa; margin: 0 15px; margin-bottom: 10px">
    <ion-toolbar style="margin-bottom: 20px">
      <ion-icon
        name="arrow-back-outline"
        slot="start"
        (click)="close()"
      ></ion-icon>
    </ion-toolbar>
    <ion-label>{{ step * 100 }}%</ion-label>

    <ion-progress-bar
      style="
        border-radius: 10px;
        height: 6px;
        --progress-background: #3e4add;
        --background: #dfdfe8;
      "
      [value]="step"
    ></ion-progress-bar>
  </section>
  <mat-horizontal-stepper
    #stepper
    style="height: calc(100% - 100px)"
    #stepperComp
  >
    <!-- <mat-step [editable]="isEditable" style="height: 100% !important">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <app-connexion-choice (log)="login()"></app-connexion-choice>
    </mat-step> -->
    <mat-step
      [editable]="isEditable"
      style="height: 100% !important; position: relative"
    >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <section style="height: 100%">
        <ion-label>
          <h3 style="text-align: center">Choisissez un pseudo</h3>
          <p>
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used.
          </p>
        </ion-label>
        <div
          style="
            font-size: 12px;
            margin-top: 75px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
          "
        >
          <ion-avatar>
            <img
              *ngIf="!picture"
              src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
            />
            <img [src]="picture" *ngIf="picture" alt="" />
            <ion-badge (click)="addPhoto()">
              <img src="assets/icon/pen.svg" alt="" />
            </ion-badge>
            <!-- <div class="photo" style="border: none">
              <label for="typeFile-input">
                <img src="assets/icon/pen.svg" alt="" />
              </label>
              <input
                #takeInput
                type="file"
                (change)="uploadFile($event)"
                id="typeFile-input"
              />
            </div> -->
          </ion-avatar>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Identifiant</mat-label>
            <input matInput class="form-control" [(ngModel)]="pseudo" />
            <mat-hint align="start" *ngIf="pseudo == ''"
              >Cette donnée est obligatoire</mat-hint
            >
          </mat-form-field>
        </div>
        <div
          style="
            position: absolute;
            bottom: 15px;
            width: 91%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          "
        >
          <button
            mat-button
            (click)="savePhoto()"
            style="
              padding-top: 15px;
              padding-bottom: 15px;
              background: #3e4add;
              border-radius: 23px;
              /* width: 100%; */
              color: white;
            "
          >
            suivant
          </button>
          <!-- <button
            mat-button
            [disabled]="pseudo == ''"
            matStepperNext
            (selectionChange)="next($event)"
            style="
              padding-top: 15px;
              padding-bottom: 15px;
              background: #3e4add;
              border-radius: 23px;
              /* width: 100%; */
              color: white;
            "
          >
            Suivant
          </button> -->
        </div>
      </section>
    </mat-step>
    <mat-step
      [editable]="isEditable"
      style="height: 100% !important; position: relative"
    >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <ion-label>
        <h3 style="text-align: center">Choisissez un pseudo</h3>
        <p>
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used.
        </p>
      </ion-label>
      <app-gender (choix)="choiceSex($event)"></app-gender>
      <div
        style="
          position: absolute;
          bottom: 15px;
          width: 91%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        "
      >
        <button
          mat-button
          matStepperNext
          style="
            padding-top: 15px;
            padding-bottom: 15px;
            background: #3e4add;
            border-radius: 23px;
            /* width: 100%; */
            color: white;
          "
        >
          Suivant
        </button>
      </div>
    </mat-step>
    <mat-step
      [editable]="isEditable"
      style="height: 100% !important; position: relative"
    >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <ion-label>
        <h3 style="text-align: center">Choisissez un pseudo</h3>
        <p>
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used.
        </p>
      </ion-label>
      <app-physics
        (taille)="physicParam($event)"
        (poids)="physicParam($event)"
      ></app-physics>
      <div
        style="
          position: absolute;
          bottom: 15px;
          width: 91%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        "
      >
        <button
          mat-button
          matStepperNext
          style="
            padding-top: 15px;
            padding-bottom: 15px;
            background: #3e4add;
            border-radius: 23px;
            /* width: 100%; */
            color: white;
          "
        >
          Suivant
        </button>
      </div>
    </mat-step>
    <mat-step
      [editable]="isEditable"
      style="height: 100% !important; position: relative"
    >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <ion-label>
        <h3 style="text-align: center">Choisissez un pseudo</h3>
        <p>
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly used.
        </p>
      </ion-label>
      <section style="height: 400px; overflow: auto">
        <app-accordeon (activitesEvent)="eventActivite($event)"></app-accordeon>
      </section>

      <div
        style="
          position: absolute;
          bottom: 15px;
          width: 91%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        "
      >
        <button
          mat-button
          (click)="validate()"
          style="
            padding-top: 15px;
            padding-bottom: 15px;
            background: #3e4add;
            border-radius: 23px;
            /* width: 100%; */
            color: white;
          "
        >
          Suivant
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</ion-content>
