ion-content {
  --ion-background-color: #f4f5fa;
  .rond {
    width: 107px;
    height: 107px;
    border: 3px solid #eaebef;
    border-radius: 50%;
    margin: 20px auto;
    padding: 11px;
    ion-img {
      width: 85px;
    }
  }
  .fantastique {
    letter-spacing: -0.75px;
    color: #000000;
    font-size: 25px;
    font-family: "PoppinsSemiBold" !important;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }
  .progress {
    ion-progress-bar.one {
      width: 90%;
      --progress-background: #eaebef 0% 0% no-repeat padding-box;
      height: 35px;
      margin: auto;
      border-radius: 20px;
      --background: #87717126;
    }
    ion-progress-bar.two {
      width: 90%;
      --progress-background: #3e4add 0% 0% no-repeat padding-box;
      height: 35px;
      margin: auto;
      border-radius: 20px;
      margin-top: -35px;
      --background: #ff000000;
    }
    ion-progress-bar.three {
      width: 90%;
      --progress-background: #2b2d2f 0% 0% no-repeat padding-box;
      height: 35px;
      margin: auto;
      border-radius: 20px;
      --background: #ff000000;
      margin-top: -35px;
      //   margin-left: 18px;
    }
    .rond-progress {
      width: 28px;
      height: 28px;
      background: #f5f7fd 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 26px #1415174e;
      border-radius: 50%;
      position: absolute;
      left: 24px;
      margin-top: 5px;
      padding: 0px 5px;
      .valeur {
        letter-spacing: 0px;
        color: #18181c;
        font-family: "PoppinsBold" !important;
        font-size: 12px;
      }
    }
  }

  .xp {
    position: absolute;
    right: 34px;
    letter-spacing: -0.12px;
    color: #040405;
    opacity: 0.35;
    font-size: 12px;
    font-family: "PoppinsSemiBold" !important;
    margin-top: 10px;
  }
  .c-row {
    margin-top: 65px;
    .c-col {
      round-progress {
        margin: auto;
      }
      .val-progess {
        top: 33px;
        position: absolute;
        .val {
          font-family: "StaatlichesRegular" !important;
          font-size: 31px;
          color: #040405;
          margin-left: 35px;
          margin-top: -3px;
        }
        .val3 {
          font-family: "StaatlichesRegular" !important;
          font-size: 31px;
          color: #040405;
          margin-left: 43px;
          margin-top: -3px;
        }
        .val2 {
          font-family: "StaatlichesRegular" !important;
          font-size: 31px;
          color: #040405;
          margin-left: 35px;
          margin-top: -3px;
        }
        .val-xp {
          font-family: "PoppinsSemiBold" !important;
          font-size: 12px;
          color: #040405;
          margin-top: -3px;
          margin-left: 52px;
        }
      }
      .c-name {
        .name {
          letter-spacing: 0px;
          color: #000000;
          font-size: 14px;
          font-family: "PoppinsSemiBold" !important;
          margin: auto;
          margin-top: 10px;
        }
      }
    }
  }
  .c-row-lands {
    margin-top: 65px;
    margin-bottom: 165px;
    .c-col {
      round-progress {
        margin: auto;
      }
      .val-progess-lands {
        top: 33px;
        position: absolute;
        .val {
          font-family: "StaatlichesRegular" !important;
          font-size: 31px;
          color: #040405;
          margin-left: 108px;
          margin-top: -3px;
        }
        .val3 {
          font-family: "StaatlichesRegular" !important;
          font-size: 31px;
          color: #040405;
          margin-left: 116px;
          margin-top: -3px;
        }
        .val2 {
          font-family: "StaatlichesRegular" !important;
          font-size: 31px;
          color: #040405;
          margin-left: 106px;
          margin-top: -3px;
        }
        .val-xp {
          font-family: "PoppinsSemiBold" !important;
          font-size: 12px;
          color: #040405;
          margin-top: -3px;
          margin-left: 125px;
        }
      }
      .c-name {
        .name {
          letter-spacing: 0px;
          color: #000000;
          font-size: 14px;
          font-family: "PoppinsSemiBold" !important;
          margin: auto;
          margin-top: 10px;
        }
      }
    }
  }

  .total {
    font-size: 33px;
    font-weight: bold;
    letter-spacing: -2.8px;
    font-family: "PoppinsBold" !important;
    //padding-left: 18px;
    padding-right: 5px;
    margin-top: 5px;
  }
  .gtotal {
    margin: 20px;
    border-top: 2px solid lightgrey;
  }
}
ion-footer {
  background: #f7f7fa !important;
  .c-ion-fab {
    background: #3e4add 0% 0% no-repeat padding-box;
    border-radius: 33px;
    width: 88%;
    margin: 0 20px;
    height: 89px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    span {
      letter-spacing: 0px;
      color: #ffffff;
      font-size: 18px;
      font-family: "PoppinsSemiBold" !important;
    }
  }
  .c-ion-fab-lands {
    background: #3e4add 0% 0% no-repeat padding-box;
    border-radius: 33px;
    width: 50%;
    margin: 0 25%;
    height: 89px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    span {
      letter-spacing: 0px;
      color: #ffffff;
      font-size: 18px;
      font-family: "PoppinsSemiBold" !important;
    }
  }
}
