<ion-content>
  <ng-container *ngIf="user">
    <ion-row>
      <span class="rond">
        <ion-img src="assets/images/claps.png"></ion-img>
      </span>
    </ion-row>
    <ion-row>
      <span class="fantastique"> Fantastique ! </span>
    </ion-row>
    <ion-row class="progress">
      <ion-progress-bar value="1" class="one"></ion-progress-bar>
      <ion-progress-bar [value]="xpNewOnTotal" class="two"></ion-progress-bar>
      <ion-progress-bar
        [value]="xpUserOnTotal"
        class="three"
      ></ion-progress-bar>

      <span class="rond-progress">
        <span class="valeur"> {{user.niveau}} </span>
      </span>
    </ion-row>
    <ion-row>
      <span class="xp">{{user.exp| number: "1.0-0"}} XP</span>
    </ion-row>

    <ion-row [class]="modeRow">
      <ion-col class="c-col" size="4" *ngFor="let item of listActivite">
        <round-progress
          [current]="item.value"
          [max]="valeur"
          [color]="'#000000'"
          [background]="'#7070703d'"
          [radius]="47"
          [stroke]="4"
        >
        </round-progress>
        <ion-row [class]="modeClasse">
          <div class="val">+{{item.value| number: "1.0-0"}}</div>
        </ion-row>
        <ion-row [class]="modeClasse">
          <div class="val-xp">xp</div>
        </ion-row>
        <ion-row class="c-name">
          <span class="name"> {{item.name}} </span>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="gtotal">
      <ion-col class="c-col total" size="7"><span>TOTAL</span></ion-col>
      <ion-col class="c-col total" size="5"
        ><span>+{{valeur| number: "1.0-0"}}XP</span></ion-col
      >
    </ion-row>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-button
    type="submit"
    color="primary"
    class="buttonNextSlide"
    (click)="fermer()"
    ><span> Publier</span></ion-button
  >
  <!-- <div [class]="demarrage">
    <span>Fermer</span>
  </div> -->
</ion-footer>
