<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start" style="--background: grey; margin-right: 10px">
      <img [src]="contact.avatar" alt="" *ngIf="contact.avatar" />
      <img
        src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
        *ngIf="!contact.avatar"
        alt=""
      />
      <ion-badge>{{ contact.niveau }}</ion-badge>
    </ion-avatar>
    <ion-label>
      <p>{{contact.userName}}</p>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item slot="start" lines="none">
      <ion-icon name="image-outline"></ion-icon>
      <ion-input></ion-input>
    </ion-item>
    <ion-icon name="mail-open-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-footer>
