<section *ngIf="championnat">
  <section *ngIf="championnat?.status == 'en cours' ||championnat?.status == 'termine' " class="contentTotal">
    <div class="iconTitle">
      <img
        src="../../../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">VOS INFORMATIONS</h4>
    </div>
    <ion-toolbar class="barStat" *ngIf="userInfo">
      <ion-item slot="start" lines="none" class="itemLeft">
        <ion-label class="titre">
          {{ championnat?.semaineEnCours }}
        </ion-label>
        <ion-label class="sousTitre black"> Semaines </ion-label>
      </ion-item>
      <ion-title>
        <ion-item lines="none">
          <ion-label class="titre">
            {{ userInfo.journeeEnCours
            }}<span style="font-weight: 500; color: #c5c6ce">/</span
            ><span style="color: #c5c6ce">{{
              championnat?.journeeTotale
            }}</span>
          </ion-label>
          <ion-label class="sousTitre black">Journées</ion-label>
        </ion-item>
      </ion-title>
      <ion-item slot="end" lines="none">
        <ion-label class="titre">
          {{ userInfo.bonus }}
        </ion-label>
        <ion-label class="sousTitre black"> Bonus </ion-label>
      </ion-item>
    </ion-toolbar>
  </section>
  <section class="contentTotal">
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">DETAIL</h4>
    </div>
    <p style="font-size: 12px">{{ championnat?.description }}</p>
  </section>
  <section class="contentTotal">
    <div class="iconTitle">
      <img
        src="../../../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">ACTIVITES</h4>
      <ion-badge style="--background: black">{{
        championnat?.activites.length
      }}</ion-badge>
    </div>
    <ion-chip *ngFor="let act of championnat?.activites">
      <ion-avatar>
        <img [src]="act.icon" />
      </ion-avatar>
      <ion-label>{{ act.nom }}</ion-label>
    </ion-chip>
  </section>
  <section class="contentTotal">
    <div class="iconTitle">
      <img
        src="../../../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">INFORMATIONS</h4>
    </div>
    <ion-toolbar>
      <ion-thumbnail slot="start" style="margin-right: 10px">
        <img src="../../../../assets/icon/lock.svg" alt="" />
      </ion-thumbnail>
      <ion-label>
        <p class="sousTitre black">Confidentialité</p>
        <p class="detailTitre">Mode actuel : {{ championnat?.type }}</p>
      </ion-label>
      <ion-thumbnail slot="end" class="friends">
        <img src="../../../../assets/icon/friends-white.svg" alt="" />
      </ion-thumbnail>
    </ion-toolbar>
    <ion-toolbar>
      <ion-thumbnail slot="start" style="margin-right: 10px">
        <img src="../../../../assets/icon/clock.svg" alt="" />
      </ion-thumbnail>
      <ion-label>
        <p class="sousTitre black">Durée de championnat</p>
        <p class="detailTitre">Activer la limite de participants maximum</p>
      </ion-label>
      <ion-thumbnail class="labelRight" slot="end">
        <ion-label>{{ championnat?.dureeMax }}</ion-label>
        <!-- <img src="../../../../assets/icon/friends-white.svg" alt=""> -->
      </ion-thumbnail>
    </ion-toolbar>
    <ion-toolbar>
      <ion-thumbnail slot="start" style="margin-right: 10px">
        <img src="../../../../assets/icon/repeat.svg" alt="" />
      </ion-thumbnail>
      <ion-label>
        <p class="sousTitre black">Séance par semaine</p>
        <p class="detailTitre">Minimum de séances par semaine</p>
      </ion-label>
      <ion-thumbnail slot="end" class="labelRight">
        <ion-label>{{ championnat?.seanceByWeek }}</ion-label>
      </ion-thumbnail>
    </ion-toolbar>
  </section>
  <section style="height: 100px;"></section>
</section>
