<swiper
  #swiper
  [config]="config"
  style="padding-left: 15px; padding-right: 10px"
>
  <ng-template swiperSlide *ngFor="let chall of challengesFormat">
    <!-- <section
      style="display: flex; flex-direction: column; gap: 10px; padding: 0 15px"
    > -->
    <div style="position: relative" (click)="showChallenge(chall)">
      <ion-thumbnail
        style="
          width: 140px;
          position: absolute;
          z-index: 1000;
          height: 230px;
          right: -8px;
          top: 0;
          display: flex;
        "
      >
        <img [src]="chall.banniereImage" alt="" />
      </ion-thumbnail>
      <ion-card
        [style.backgroundColor]="chall.banniereColor"
        style="background-image: url('assets/icon/udoIconFond.svg')"
      >
        <ion-card-header>
          <ion-card-title class="cardSlide">
            <img
              [src]="chall.icon"
              alt=""
              style="
                margin-right: 10px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
              "
            />
            <div style="display: flex; flex-direction: column; gap: 5px">
              <ion-label
                style="font-size: 12px; color: white; font-weight: 700"
                >{{ chall.name }}</ion-label
              >
              <div style="display: flex; align-items: center; gap: 10px">
                <ion-img
                  style="width: 14px"
                  src="../../../assets/icon/friends-white.svg"
                  alt=""
                  slot="start"
                >
                </ion-img>
                <ion-label slot="start" style="font-size: 10px">
                  {{ chall.participants.length }} /
                  {{ chall.participantsMax }} participants
                </ion-label>
              </div>
            </div>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="cardContentZone">
          <ion-item style="--background: transparent" lines="none">
            <ion-label> {{ chall.completion.value }} % </ion-label>
            <ion-label
              style="font-size: 14px; text-align: end; font-weight: 600"
              >0/{{ chall.objectifs }} {{ chall.metric.metric }}</ion-label
            >
          </ion-item>
          <ion-progress-bar
          [value]="chall.completion.value / chall.objectifs"
            style="
              --progress-background: white;
              height: 6px;
              border-radius: 10px;
            "
          ></ion-progress-bar>
          <ion-item lines="none">
            <ion-card-subtitle slot="start"> EN ATTENTE </ion-card-subtitle>
            <ion-card-subtitle slot="end" style="background-color: transparent">
              {{ chall.dateDemarrage }}
            </ion-card-subtitle>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
    <!-- </section> -->
  </ng-template>
</swiper>
