<!-- <swiper #swiper [config]="config" style="padding-left: 15px">
  <ng-template swiperSlide *ngFor="let chall of challenges"> -->
<section
  style="display: flex; flex-direction: column; gap: 10px; padding: 0 15px"
>
  <div style="position: relative" *ngFor="let chall of challenges">
    <span
      style="
        width: 140px;
        position: absolute;
        z-index: 1000;
        right: -22px;
        height: 150px;
      "
    >
      <img [src]="chall.image" alt="" />
    </span>
    <ion-card [style.background]="chall.background">
      <ion-card-header>
        <ion-card-title class="cardSlide">
          <img
            [src]="chall.icon"
            alt=""
            style="
              margin-right: 10px;
              background-color: white;
              border-radius: 50%;
              padding: 5px;
              width: 30px;
              height: 30px;
            "
          />
          <ion-label style="font-size: 12px; color: white; font-weight: 700">{{
            chall.name
          }}</ion-label>
          <!-- <ion-note style="font-size: 10px; color: white; font-weight: 700">
              {{ chall.createur.userName }}
            </ion-note> -->
        </ion-card-title>
        <!-- <div class="typeLogo">
          <img
            src="../../../assets/icon/Icon feather-globe.svg"
            alt=""
            *ngIf="chall.type == 'Network'"
          />
          <img
            src="../../../assets/icon/FriendsFamilly.svg"
            alt=""
            *ngIf="chall.type == 'Friends&Familly'"
          />
        </div> -->
      </ion-card-header>

      <ion-card-content class="cardContentZone">
        <!-- <ion-card-subtitle> EN ATTENTE </ion-card-subtitle> -->
        <ion-item style="--background: transparent" lines="none">
          <ion-label>
            {{ chall.completion.value }} %
            <!-- <img src="../../assets/icon/Icon feather-percent.svg" alt="" /> -->
          </ion-label>
          <!-- <ion-note>{{chall.dateFin|timeRelative | uppercase}}</ion-note> -->
        </ion-item>
        <ion-progress-bar
          [value]="chall.completion.percent"
          style="--progress-background: white; height: 6px; border-radius: 10px"
        ></ion-progress-bar>
      </ion-card-content>
    </ion-card>
  </div>
</section>
<!-- </ng-template>
</swiper> -->
