ion-card {
  width: 100%;
  height: 257px;
  border-radius: 30px;
  display: flex;
  position: relative;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  .cardSlide {
    display: flex;
    gap: 7px;
  }
  ion-label {
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
  }
  ion-note {
    color: white;
    font-size: 9px;
    font-weight: 700;
  }
  ion-card-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    ion-note::before {
      content: "créé par ";
      font-weight: 400;
    }
    img {
      height: 13px;
      width: 24px;
    }
    .typeLogo {
      background-color: white;
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  ion-card-content {
    padding: 0 15px 0 15px;
    ion-label {
      font-size: 35px;
      font-weight: 900;
    }
    ion-note {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      img {
        height: 15px;
      }
    }
    ion-item {
      padding-right: 0px;
      --min-height: 45px;
      &::part(native) {
        padding-left: 0;
      }
    }
    ion-card-subtitle {
      background-color: black;
      color: white;
      display: initial;
      padding: 6px 13px;
      border-radius: 7px;
      font-size: 8px;
    }
  }
}
