<!-- <ion-header mode="ios">
  <ion-toolbar style="--border-width: 0 0 0 !important">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="../../../../assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../../../assets/mocks/Icon feather-share-2.svg" alt="" />
      </ion-button>
      <ion-button>
        <img src="../../../../assets/mocks/Icon feather-settings.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card
    *ngIf="challenge"
    [ngClass]="{ notActive: segmentValue != 'resume' }"
    [style.backgroundColor]="challenge.banniereColor"
    style="background-image: url('assets/icon/udoIconFond.svg')"
  >
    <span style="width: 150px; position: absolute; right: 5px; top: 15px">
      <img [src]="challenge.banniereImage" alt="" />
    </span>

    <ion-card-header [ngClass]="{ notActive: segmentValue != 'resume' }">
      <ion-card-title class="cardSlide">
        <img
          [src]="challenge.icon"
          alt=""
          style="width: 34px; height: 34px; border-radius: 50%"
        />
        <div style="display: flex; flex-direction: column; gap: 5px">
          <ion-label style="font-size: 12px; color: white; font-weight: 700">{{
            challenge.name
          }}</ion-label>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item style="--background: transparent" lines="none">
        <ion-label slot="start">
          {{
            (challenge.completion.value / challenge.objectifs) * 100
              | number: "1.1-2"
          }}
          %
        </ion-label>
        <ion-label style="font-size: 14px; text-align: end"
          >{{ challenge.completion.value | number: "1.1-1" }}/{{
            challenge.objectifs
          }}
          {{ challenge.metric.metric }}</ion-label
        >
      </ion-item>
      <ion-progress-bar
        [value]="challenge.completion.percent"
        style="--progress-background: white; height: 6px; border-radius: 10px"
      ></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [value]="segmentValue"
    mode="ios"
  >
    <ion-segment-button value="resume">
      <ion-label>Résumé</ion-label>
    </ion-segment-button>
    <ion-segment-button value="participants">
      <ion-label>Participants</ion-label>
    </ion-segment-button>
    <ion-segment-button value="feed">
      <ion-label>Feed</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content scrollY="false"> -->
  <ng-container *ngIf="challenge">
    <app-resume-challenge
      [user]="user"
      [userEncours]="userEncours"
      [challenge]="challenge"
      *ngIf="segmentValue == 'resume'"
    ></app-resume-challenge>
    <app-classement-challenge
      [user]="user"
      [challenge]="challenge"
      *ngIf="segmentValue == 'participants'"
    ></app-classement-challenge>
  </ng-container>
  <!-- <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
    style="--ion-safe-area-left: 40px; width: 60% !important"
  >
    <ion-button
      expand="block"
      class="buttonNextSlide"
      style=" --i : {{ challenge.banniereColor }}"
      (click)="startChall()"
      *ngIf="
        challenge &&
        challenge.status == 'en attente' &&
        user.uid == challenge.userId
      "
      >{{ loading ? "" : "Démarrer"
      }}<ion-spinner *ngIf="loading" name="crescent" mode="md"></ion-spinner
    ></ion-button>
    <ion-button
      expand="block"
      class="buttonNextSlide"
      style=" --i : {{ challenge.banniereColor }}"
      (click)="participer()"
      *ngIf="challenge && !userEncours"
      >Participer</ion-button
    >
    <ion-button
      expand="block"
      class="buttonNextSlide"
      style=" --i : {{ challenge.banniereColor }}"
      *ngIf="
        challenge &&
        challenge?.status == 'en attente' &&
        userEncours?.etat == 'prêt'
      "
      ><span *ngIf="!loading"> {{ startDate }}</span></ion-button
    ><ion-spinner *ngIf="loading" name="crescent" mode="md"></ion-spinner>
    <ion-button
      expand="block"
      style=" --i : {{ challenge.banniereColor }}"
      (click)="seanceNow()"
      *ngIf="challenge && challenge?.status == 'en cours' && userEncours"
      class="buttonNextSlide"
      >Séance Now</ion-button
    >
  </ion-fab> -->
  <!-- <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="championnat?.createur.uid == user.uid &&championnat?.status == 'en attente' "
  >
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addFriend()" *ngIf="!friendBool">
        <img src="assets/icon/friends-white.svg" alt="" />
      </ion-fab-button>
      <ion-fab-button
        color="warning"
        (click)="removeFriend()"
        *ngIf="friendBool"
      >
        <img src="assets/icon/friends-white.svg" alt="" />
      </ion-fab-button>
      <ion-fab-button color="success" (click)="chat()">
        <img src="assets/icon/chat_white.svg" alt="" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
