<ng-container *ngIf="challenge">
  <app-resume-challenge
    [user]="user"
    [challenge]="challenge"
    *ngIf="segmentValue == 'resume'"
  ></app-resume-challenge>
  <app-classement-challenge
    [user]="user"
    [challenge]="challenge"
    *ngIf="segmentValue == 'participants'"
  ></app-classement-challenge>
  <app-feeds
    [loadFeed]="loadFeed"
    [championnat]="challenge"
    *ngIf="segmentValue == 'feed'"
    [user]="user"
    [lastVisible]="lastVisible"
    [feed]="feed"
    [competition]="competition"
  ></app-feeds>
</ng-container>
