<ion-toolbar
  style="padding: 5px 15px; --border-width: 0; --background: #f7f7fa"
  mode="ios"
>
  <ion-avatar slot="start" class="big" (click)="showMenu()" *ngIf="user">
    <img [src]="user.avatar" alt="" />
    <ion-badge>{{ user.niveau }}</ion-badge>
  </ion-avatar>
  <ion-title>
    <img src="assets/icon/udoIcon.svg" alt="" />
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="chatPage()">
      <img src="assets/icon/chat.svg" alt="" />
    </ion-button>
  </ion-buttons>
</ion-toolbar>
