<ion-content>
  <ion-row>
    <ion-img class="c-img" src="{{app.appImg}}"></ion-img>
  </ion-row>
  <ion-row>
    <span class="name">{{app.appName}}</span>
  </ion-row>
  <ion-row>
    <span class="sub-title">Séance externe</span>
  </ion-row>
  <ion-row *ngIf="status==='Connexion en cours'">
    <round-progress  class="c-progres" current="80" [max]="100" [color]="'#363853'" [background]="'#EAEBEF'"
                    [radius]="80" [stroke]="10">
    </round-progress>
  </ion-row>
  <ion-row class="c-progres1" *ngIf="status==='Connecté'">

    <ion-img  src="assets/images/check.PNG"></ion-img>
  </ion-row>

  <ion-row>
    <span class="connexion">
      {{status}}
    </span>
  </ion-row>
  <ion-fab *ngIf="status==='Connexion en cours'" (click)="gotoHome()" class="c-ion-fab"  vertical="bottom" slot="fixed">
    <!-- <ion-fab-button> -->
    <span>Arreter</span>
    <!-- </ion-fab-button> -->
  </ion-fab>
  <ion-fab *ngIf="status==='Connecté'" (click)='presentAlertConfirm()' class="c-ion-fab"  vertical="bottom" slot="fixed">
    <!-- <ion-fab-button> -->
    <span>Déconnecté</span>
    <!-- </ion-fab-button> -->
  </ion-fab>
</ion-content>
