  <ng-container *ngIf="championnat">
    <app-classement
      *ngIf="segmentValue == 'participants'"
      [championnat]="championnat"
      [user]="user"
    ></app-classement>
    <app-feeds
      *ngIf="segmentValue == 'feed'"
      [loadFeed]="loadFeed"
      [user]="user"
      [lastVisible]="lastVisible"
      [feed]="feed"
      [championnat]="championnat"
      [competition]="competition"
    ></app-feeds>
    <app-resume
      *ngIf="segmentValue == 'resume'"
      [championnat]="championnat"
    ></app-resume>

