<ion-header style="--padding-start: 14px">
  <ion-toolbar style="--padding-start: 17px">
    <ion-icon name="close-outline" slot="start" (click)="close()"></ion-icon>
    <ion-title>Encouragements</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: white">
  <section
    style="display: flex; flex-wrap: wrap; gap: 5px; justify-content: center"
  >
    <img #iconSelected [ngClass]="{ black: indice == i, white: indice !== i }"
    (click)="choice(emojiList, i)" [src]="emojiList.icon" alt="" *ngFor="let
    emojiList of emojisList$ | async; let i = index" class="imgIcon" />
  </section>
</ion-content>
<ion-footer>
  <ion-toolbar style="--border-width: 0">
    <ion-title *ngIf="emoji" style="font-size: 14px">
      {{ emoji.nom }}
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="send(emoji)" class="buttonNextSlide" expand="block">
    suivant
  </ion-button>
</ion-footer>
