<ion-header>
  <ion-toolbar>
    <ion-button
      slot="start"
      (click)="back()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>

    <ion-title>Messagerie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ng-container *ngIf="rooms$|async as rooms"> -->
    <ng-container *ngIf="roomTable.length; else loader">
      <ion-item
        lines="full"
        *ngFor="let room of roomTable"
        (click)="openChat(room)"
      >
        <ion-avatar slot="start">
          <img [src]="room.userInfo.avatar" alt="" />
          <ion-badge>{{ room.userInfo.niveau }}</ion-badge>
        </ion-avatar>
        <ion-label>
          <ion-item lines="none" class="titleMsg">
            <ion-label class="sousTitre black">
              {{room.userInfo.userName}}
              <ion-icon
                name="ellipse"
                style="font-size: 6px; margin: 0 5px 1px 3px"
              ></ion-icon>
              <span
                [class.bold]="room.vue == false"
                style="font-size: 12px; color: #7070706c; font-weight: 500"
                slot="end"
                *ngIf="room.lastMsg"
                >{{room.timestamp|timeRelative}}</span
              >
            </ion-label>
          </ion-item>
          <p
            style="
              font-size: 12px;
              font-size: 12px;
              color: #707070;
              max-width: 21ch;
            "
            [class.bold]="room.vue == false"
          >
            {{room.lastMsg}}
          </p>
        </ion-label>
        <!-- <ion-label [class.bold]="room.vue == false" style="font-size: 12px" slot="end" *ngIf="room.lastMsg"
          >{{room.timestamp|timeRelative}}</ion-label
        > -->
        <ion-icon
          *ngIf="room.vue == false"
          name="ellipse"
          slot="end"
          style="font-size: 12px; color: #e32d57"
        ></ion-icon>
      </ion-item>
    </ng-container>
    <ng-template #loader>
      <div
        style="
          height: 280px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f7f7fa;
        "
      >
        <ion-spinner
          name="crescent"
          style="height: 50px; width: 50px"
        ></ion-spinner>
      </div>
    </ng-template>
  </ion-list>
</ion-content>
