<ion-header mode="ios">
  <ion-toolbar style="--border-width: 0 0 0 !important">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="../../../../assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
  </ion-toolbar>
  <ion-card
    *ngIf="challengeObs$|async as challenge"
    [ngClass]="{ notActive: segmentValue != 'resume' }"
    [style.backgroundColor]="challenge.banniereColor"
    style="background-image: url('assets/icon/udoIconFond.svg')"
  >
    <span style="width: 150px; position: absolute; right: 5px; top: 15px">
      <img [src]="challenge.banniereImage" alt="" />
    </span>

    <ion-card-header [ngClass]="{ notActive: segmentValue != 'resume' }">
      <ion-card-title class="cardSlide">
        <img
          [src]="challenge.icon"
          alt=""
          style="width: 34px; height: 34px; border-radius: 50%"
        />
        <div style="display: flex; flex-direction: column; gap: 5px">
          <ion-label style="font-size: 12px; color: white; font-weight: 700"
            >{{ challenge.name }}</ion-label
          >
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item style="--background: transparent" lines="none">
        <ion-label slot="start">
          {{ (challenge.completion.value / challenge.objectifs) * 100 | number:
          "1.1-2" }} %
        </ion-label>
        <ion-label style="font-size: 14px; text-align: end"
          >{{ challenge.completion.value | number: "1.1-1" }}/{{
          challenge.objectifs }} {{ challenge.metric.metric }}</ion-label
        >
      </ion-item>
      <ion-progress-bar
        [value]="pourcentage"
        style="--progress-background: white; height: 6px; border-radius: 10px"
      ></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [value]="segmentValue"
    mode="ios"
  >
    <ion-segment-button value="resume">
      <ion-label>Résumé</ion-label>
    </ion-segment-button>
    <ion-segment-button value="participants">
      <ion-label>Participants</ion-label>
    </ion-segment-button>
    <ion-segment-button value="feed">
      <ion-label>Feed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section *ngIf="segmentValue == 'feed'">
    <ion-toolbar
      mode="ios"
      style="
        --border-width: 0 0 0.55px;
        --padding-start: 15px;
        --padding-end: 15px;
      "
    >
      <div style="display: flex; flex-direction: column">
        <ion-item lines="none">
          <ion-avatar slot="start" style="margin-right: 15px">
            <img [src]="user.avatar" alt="" />
            <ion-badge>{{ user.niveau }}</ion-badge>
          </ion-avatar>

          <ion-input
            #inputFeed
            (ionChange)="inputRead($event)"
            mode="ios"
            inputmode="text"
            clear-on-edit
            placeholder="Publier un post"
          ></ion-input>
          <div *ngIf="boole">test</div>
          <ion-button
            slot="end"
            type="submit"
            style="
              --border-radius: 50%;
              --background: #0a122129;
              --backdrop-opacity: 9%;
              height: 30px;
              width: 30px;
              margin-right: 0;
            "
          >
            <img
              (click)="send()"
              src="assets/icon/icons8-email-send.svg"
              alt=""
            />
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-icon
            *ngIf="!picture"
            name="image-outline"
            (click)="addContenu()"
            slot="start"
          ></ion-icon>
          <!-- <ion-icon name="camera-outline" (click)="addContenu()"></ion-icon> -->
          <div style="position: relative" *ngIf="picture">
            <img [src]="picture" alt="" class="photoJoin" />
            <img
              src="assets/icon/closeIconPhoto.svg"
              class="iconPhotoJoin"
              alt=""
              (click)="deletePhoto()"
            />
          </div>
        </ion-item>
      </div>
    </ion-toolbar>
  </section>
</ion-header>
<ion-content scrollY="false">
  <ng-container *ngIf="challengeObs$|async as challenge">
    <app-chall-template
      [challenge]="challenge"
      [user]="user"
      [userEncours]="userEncours"
      [participantsList]="participantsList"
      [segmentValue]="segmentValue"
      [lastVisible]="lastVisible"
      [feed]="feed"
      [competition]="competition"
    ></app-chall-template>
    <div
      style="
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        z-index: 100;
        padding-bottom: 10px;
      "
    >
      <ion-button
        expand="block"
        class="buttonNextSlide"
        style=" --i : {{ challenge.banniereColor }}"
        (click)="startChall()"
        *ngIf=" challenge && challenge.status == 'en attente' && user.uid == challenge.userId"
        >{{ loading ? "" : "Démarrer" }}<ion-spinner
          *ngIf="loading"
          name="crescent"
          mode="md"
        ></ion-spinner
      ></ion-button>
      <ion-button
        expand="block"
        class="buttonNextSlide"
        style=" --i : {{ challenge.banniereColor }}"
        (click)="participer()"
        *ngIf="(challenge && !userEncours) ||(challenge && userEncours?.etat =='en attente')"
        >Participer</ion-button
      >
      <ion-button
        expand="block"
        class="buttonNextSlide"
        style=" --i : {{ challenge.banniereColor }}"
        *ngIf="challenge && challenge?.status == 'en attente' && userEncours?.etat == 'prêt' && user.uid != challenge.userId"
        ><span *ngIf="!loading"> {{ startDate }}</span></ion-button
      ><ion-spinner *ngIf="loading" name="crescent" mode="md"></ion-spinner>
      <ion-button
        expand="block"
        style=" --i : {{ challenge.banniereColor }}"
        (click)="seanceNow()"
        *ngIf="challenge && challenge?.status == 'en cours' && userEncours"
        class="buttonNextSlide"
        >Séance Now</ion-button
      >
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="admin  ">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary" (click)="addFriend()">
          <img src="assets/icon/friends-white.svg" alt="" />
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>
</ion-content>
