.notActive {
  height: 0px;
  margin-bottom: 0;
}

.notActiveContent {
  opacity: 0;
}

.cardSlide {
  display: flex;
  gap: 7px;
}

ion-card {
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 27px;
  transition: 0.5s ease all;
  margin-top: 0;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}


ion-card-subtitle {
  background: white;
  color: black;
  display: initial;
  padding: 1px 8px;
  border-radius: 7px;
  font-size: 10px;
}

ion-card-header {
  transition: 0.3s ease all;
}
ion-avatar {
  position: relative;
  height: 57px;
  width: 57px;
}

ion-segment {
  width: 95%;
  margin: auto;
  border-radius: 17px;
  padding: 3px;
  --background: #d7d8dd;
}

ion-segment-button {
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;
  --border-radius: 14px;

  --color: #25252998;
  --color-focused: #000000;
  --color-checked: #000000;
  ion-label {
    font-size: 14px;
    font-weight: 600;
  }
}

ion-card-content {
  ion-label {
    color: white;
    font-size: 24px;
    font-weight: 900;
  }

  ion-avatar {
    // position: relative;
    // height: 57px;
    // width: 57px;
    ion-badge {
      font-size: 10px;
      position: absolute;
      min-width: 26px;
      min-height: 26px;
      --padding-top: 8px;
      --padding-end: 0;
      --padding-bottom: 8px;
      --padding-start: 0;
      --background: white;
      --color: black;
      right: 0;
      bottom: 0;
      border-radius: 50%;
    }
  }
}



.buttonNextSlide {
  height: 70px;
  width: 200px;
  --border-radius: 25px;
  --background: var(--i);
  --background-activated: var(--i);
  margin: 5px;
}


ion-grid {
  * {
    padding: 0;
  }
}
