<section style="display: flex; margin-top: 50px">
  <div style="position: relative; flex: 1">
    <swiper #swiper [config]="config" style="height: 300px" (slideChange)="changePoids($event)">
      <ng-template swiperSlide *ngFor="let value of valuesTailles" let-data>
        <div [className]="data.isActive ? 'active' : 'notActive'">
          {{ value }}
        </div>
      </ng-template>
    </swiper>
    <div class="exposant">
      <ion-label>KG</ion-label>
    </div>
  </div>
  <div style="position: relative; flex: 1">
    <swiper #swiper2 [config]="config2" style="height: 300px" (slideChange)="changeTaille($event)">
      <ng-template swiperSlide *ngFor="let value of valuesPoids" let-data>
        <div [className]="data.isActive ? 'active' : 'notActive'">
          {{ value }}
        </div>
      </ng-template>
    </swiper>
    <div class="exposant">
      <ion-label>CM</ion-label>
    </div>
  </div>
</section>