<section style="padding-bottom: 86px">
  <div style="width: 100%; margin-top: 15px">
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">EN COURS</h4>
    </div>
    <ng-container *ngIf="!loading; else tempChamp">
      <app-slider-challenge
        [challenges]="challEncours"
        *ngIf="challEncours"
        (challengeId)="chooseChallenge($event)"
      >
      </app-slider-challenge>
    </ng-container>
  </div>
  <ion-item
    *ngIf="admin"
    button
    (click)="buttonClick()"
    lines="none"
    style="
      width: 90%;
      margin: 20px auto;
      box-shadow: 0px 13px 56px #00000029;
      border-radius: 18px;
    "
    class="challengeCreate"
  >
    <img
      src="assets/icon/challenge.svg"
      style="
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #f2f2f4;
        margin-right: 10px;
      "
      alt=""
    />
    <ion-label>
      <p class="infoItemTitle">Nouveau challenge</p>
      <p style="font-weight: 500; font-size: 10px; color: grey">
        Créez vos propre challenge
      </p>
    </ion-label>
  </ion-item>
  <div style="width: 100%">
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">EN ATTENTE</h4>
    </div>
    <ng-container *ngIf="!loading; else tempChamp">
      <app-slider-challenge
        [challenges]="challengesUser"
        *ngIf="challEncours"
        (challengeId)="chooseChallenge($event)"
      >
      </app-slider-challenge>
    </ng-container>
    <ng-template #tempChamp>
      <swiper #swiper [config]="config" style="padding-left: 15px">
        <ng-template swiperSlide *ngFor="let chall of temporaire">
          <ion-card style="height: 170px; width: 100%; border-radius: 30px">
            <ion-card-header style="padding: 20px">
              <ion-item class="template" lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <ion-skeleton-text
                    animated
                    style="width: 20%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </ion-label>
                <ion-avatar slot="end">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
              </ion-item>
            </ion-card-header>

            <ion-card-content class="cardContent">
              <ion-item
                style="--background: transparent; width: 100%"
                lines="none"
              >
                <ion-skeleton-text
                  animated
                  style="width: 30%"
                  slot="start"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="width: 20%"
                  slot="end"
                ></ion-skeleton-text>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>
    </ng-template>
  </div>
  <div style="width: 100%; margin-top: 15px">
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">TERMINES</h4>
    </div>
    <ng-container *ngIf="!loading; else tempChamp">
      <app-slider-challenge
        [challenges]="challengesTermines"
        *ngIf="challengesTermines"
        (challengeId)="chooseChallenge($event)"
      >
      </app-slider-challenge>
    </ng-container>
  </div>
  <div style="width: 100%">
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">EXPLORER</h4>
    </div>
    <ng-container *ngIf="!loading; else tempNetWork">
      <app-big-chall-slider
        [challenges]="challenges"
        *ngIf="challenges"
        (challengeId)="chooseChallenge($event)"
      ></app-big-chall-slider>
    </ng-container>
    <ng-template #tempNetWork>
      <swiper #swiper [config]="config" style="padding-left: 0">
        <ng-template swiperSlide *ngFor="let chall of temporaire">
          <ion-card style="height: 257px; width: 100%; border-radius: 30px">
            <ion-card-header style="padding: 20px">
              <ion-item class="template" lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <ion-skeleton-text
                    animated
                    style="width: 20%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </ion-label>
                <ion-avatar slot="end">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
              </ion-item>
            </ion-card-header>

            <ion-card-content class="cardContent">
              <ion-item
                style="--background: transparent; width: 100%"
                lines="none"
              >
                <ion-skeleton-text
                  animated
                  style="width: 30%"
                  slot="start"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="width: 20%"
                  slot="end"
                ></ion-skeleton-text>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>
    </ng-template>
  </div>
  <div style="width: 100%; margin-bottom: 30px; margin-top: 15px">
    <div class="iconTitle">
      <img
        src="assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">TERMINES</h4>
    </div>
  </div>
  <ion-item
    button
    (click)="openCompetitionList()"
    lines="none"
    style="
      width: 90%;
      margin: 20px auto;
      box-shadow: 0px 13px 56px #00000029;
      border-radius: 18px;
    "
    class="challengeCreate"
  >
    <img
      src="assets/icon/Icon feather-search.svg"
      alt=""
      style="
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #f2f2f4;
        margin-right: 10px;
      "
    />
    <ion-label>
      <p class="infoItemTitle">Explorer toutes les compétitions</p>
      <p style="font-weight: 500; font-size: 10px; color: grey">
        Recherchez un championnat selon vos critères
      </p>
    </ion-label>
  </ion-item>
</section>
