<ion-header>
  <ion-toolbar>
    <img src="assets/icon/close.svg" (click)="close()" alt="" />
    <ion-title style="font-size: 13px; font-weight: 600"
      >POSTER UN MEDIA</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <img
      *ngIf="base64"
      class="base-image"
      (click)="addContenu()"
      [src]="base64"
    />
  </ion-row>
  <ion-row *ngIf="!base64" class="addMedia" (click)="addContenu()">
    <ion-img class="appareil" src="assets/images/photo2.svg"></ion-img>
    <div class="ajouter">Ajouter un média</div>
    <div class="taille">Taille maximum : 25 Mo</div>
  </ion-row>
  <ion-row>
    <ion-item lines="full" style="margin: auto">
      <ion-label position="floating"> Commentez votre publication</ion-label>
      <ion-input #InputArea (ionChange)="inputRead($event)"></ion-input>
      <ion-icon
        name="pencil-sharp"
        slot="end"
        style="margin-top: 32 px"
      ></ion-icon>
    </ion-item>
  </ion-row>
  <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
    style="--ion-safe-area-left: 40px; width: 60% !important"
  >
    <ion-button expand="block" class="buttonNextSlide" (click)="send()"
      >Publier</ion-button
    >
  </ion-fab>
</ion-content>
