<ion-tabs (ionTabsWillChange)="changeTab($event)">
  <div class="icon-button inner-center-btn">
    <div class="circleTab">
      <ion-fab
        vertical="bottom"
        horizontal="center"
        slot="fixed"
        style="border-radius: 23px"
      >
        <ion-fab-button>
          <img
            src="../../assets/icon/plusMenu.svg"
            alt=""
            style="transform: rotate(45deg)"
          />
        </ion-fab-button>
        <!-- création de poste  -->
        <ion-fab-list side="end" style="top: -30px">
          <ion-fab-button>
            <img
              src="/assets/icon/UDOSeanceNow.svg"
              (click)="createPost()"
              alt=""
            />
          </ion-fab-button>
        </ion-fab-list>

        <!-- SeanceNow UDO -->
        <ion-fab-list side="top" (click)="launch()">
          <ion-fab-button style="--background: #f65889">
            <img src="assets/icon/play.svg" alt="" style="width: 60%" />
          </ion-fab-button>
        </ion-fab-list>
        <!-- SeanceNow externe -->
        <ion-fab-list
          side="start"
          (click)="launchExternalApp()"
          style="top: -30px"
        >
          <ion-fab-button style="--background: white">
            <img src="assets/icon/seanceNowExterne.svg" alt="" />
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>
  <ion-tab-bar slot="bottom" style="position: absolute">
    <ion-tab-button tab="tab1" #tabsRoute>
      <ion-thumbnail [class.active-item]="selectedPath.includes('tab1')">
        <svg
          id="homeGroup"
          fill="#19191C"
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          viewBox="0 0 20.2 20.2"
        >
          <g id="homePath">
            <path
              id="housePath"
              d="M18.6,9.8l-3.4-5.6c-0.8-1.4-2.1-2.3-3.7-2.7C10,1.1,8.4,1.4,7,2.2C6.2,2.7,5.5,3.4,5,4.1
              L1.6,9.8c-1.7,2.8-0.9,6.5,1.9,8.2c0.9,0.6,2,0.9,3.1,0.9h6.9l0,0c3.3,0,5.9-2.7,5.9-5.9C19.5,11.8,19.2,10.8,18.6,9.8z M8.5,16.2
              v-2.5c0-0.4,0.2-0.8,0.6-1.1c0.3-0.3,0.8-0.4,1.2-0.4c0.8,0.1,1.5,0.7,1.5,1.5v2.5H8.5z M16.1,15.5c-0.6,0.6-1.3,0.9-2,1v-2.9v-0.1
              c-0.1-2-1.7-3.6-3.7-3.7c-1.1-0.1-2.1,0.3-2.9,1s-1.3,1.7-1.4,2.7v2.9c-0.5-0.1-1-0.2-1.4-0.5c-1.7-1.1-2.2-3.3-1.2-5L7,5.4
              c0.3-0.5,0.7-0.9,1.2-1.2C9.1,3.7,10,3.5,11,3.8c0.9,0.2,1.7,0.8,2.2,1.6l3.4,5.6c0.3,0.6,0.5,1.2,0.5,1.9
              C17.2,13.9,16.8,14.8,16.1,15.5z"
            />
            <circle id="pointPath" cx="17.5" cy="3" r="1.3" />
          </g>
        </svg>
      </ion-thumbnail>
    </ion-tab-button>

    <ion-tab-button tab="tab2"> </ion-tab-button>

    <ion-tab-button tab="tab3" #tabsRoute>
      <ion-thumbnail [class.active-item]="selectedPath.includes('tab3')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24.16"
          height="27.355"
          viewBox="0 0 24.16 27.355"
        >
          <defs>
            <style>
              .a {
                fill: #040405;
              }
            </style>
          </defs>
          <path
            d="M6929.776,10468.11a3.2,3.2,0,0,0-.506.039,3.01,3.01,0,0,0-.864-1.78,3.041,3.041,0,0,0-2.146-.894l-10.6-.036a3.046,3.046,0,0,0-2.153.877,3.011,3.011,0,0,0-.886,1.834,3.108,3.108,0,0,0-.508-.04,3.25,3.25,0,0,0-3.246,3.245v5.312a3.247,3.247,0,0,0,4.221,3.1,8.348,8.348,0,0,0,6.485,5.345v1.2h-4.2a3.245,3.245,0,0,0,0,6.49h11.154a3.245,3.245,0,0,0,0-6.49h-4.2v-1.2a8.349,8.349,0,0,0,6.452-5.351,3.244,3.244,0,0,0,4.254-3.084v-5.312A3.249,3.249,0,0,0,6929.776,10468.11Zm-2.76,21.439a.5.5,0,0,1-.5.5h-11.154a.5.5,0,0,1,0-.993h11.154A.5.5,0,0,1,6927.017,10489.55Zm-14.908-12.386a.5.5,0,0,1-.5-.5v-5.312a.5.5,0,0,1,.984-.088l0,5.509A.5.5,0,0,1,6912.108,10477.164Zm8.816,5.307h-.021a5.576,5.576,0,0,1-5.562-5.2v-.318c.008-.093.013-.186.013-.281v-5.312c0-.075,0-.151-.008-.226l0-2.658a.273.273,0,0,1,.084-.2.3.3,0,0,1,.212-.086h0l10.6.037a.3.3,0,0,1,.213.088.275.275,0,0,1,.083.2l-.041,8.8A5.574,5.574,0,0,1,6920.925,10482.471Zm9.349-5.8a.5.5,0,1,1-.993,0v-5.312a.5.5,0,0,1,.993,0Z"
            transform="translate(-6908.862 -10465.439)"
          />
        </svg>
      </ion-thumbnail>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
