<ion-header>
  <ion-toolbar
    mode="ios"
    style="
      --border-width: 0 0 0.55px;
      --padding-start: 15px;
      --padding-end: 15px;
    "
  >
    <div style="display: flex; flex-direction: column">
      <ion-item lines="none">
        <ion-avatar slot="start" style="margin-right: 15px">
          <img src="assets/mocks/3.jpg" alt="" />
          <ion-badge>{{ user.niveau }}</ion-badge>
        </ion-avatar>

        <ion-input
          #inputFeed
          (ionChange)="inputRead($event)"
          mode="ios"
          inputmode="text"
          clear-on-edit
          placeholder="Publier un post"
        ></ion-input>
        <ion-button
          slot="end"
          style="
            --border-radius: 50%;
            --background: #0a122129;
            --backdrop-opacity: 9%;
            height: 30px;
            width: 30px;
          "
        >
          <img
            (click)="send()"
            src="assets/icon/icons8-email-send.svg"
            alt=""
          />
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          *ngIf="!picture"
          name="image-outline"
          (click)="addPhoto()"
          slot="start"
        ></ion-icon>
        <ion-icon name="camera-outline" (click)="takePhoto()"></ion-icon>
        <div style="position: relative" *ngIf="picture">
          <img [src]="picture" alt="" class="photoJoin" />
          <img
            src="assets/icon/closeIconPhoto.svg"
            class="iconPhotoJoin"
            alt=""
            (click)="deletePhoto()"
          />
        </div>
        <!-- <div>
          <video
            *ngIf="videoThumb"
            #player
            autoplay
            (click)="play(videoThumb)"
          ></video>
        </div> -->
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="contenu" *ngIf="feed; else showBlank">
    <ion-item
      *ngFor="let item of feed; let i = index"
      style="margin-bottom: 10px; --inner-padding-end: 0"
    >
      <ion-card
        style="
          box-shadow: none;
          width: 100%;
          --background: #f4f5fa00;
          margin-right: 0;
          margin-left: 0;
        "
      >
        <ion-card-header *ngIf="item.isLive == false">
          <ion-toolbar class="postZone">
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-item lines="none">
                    <ion-avatar
                      style="margin-right: 10px; background: grey"
                      slot="start"
                      (click)="
                        openProfil(item.userId ? item.userId : item.userUid)
                      "
                    >
                      <img [src]="item.userAvatar" />
                    </ion-avatar>
                    <ion-label>
                      <p>{{ item.username }}</p>
                      <div style="display: flex; gap: 5px; align-items: center">
                        <img src="../../assets/icon/testIconCateg.svg" alt="" />
                        <p style="font-size: 10px; font-weight: 900">
                          {{ item.activity }}
                        </p>
                        <ion-note style="font-size: 10px">{{
                          item.startDate | timeRelative
                        }}</ion-note>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="2" style="--ion-grid-column-padding: 20px">
                  <img
                    src="../../assets/icon/threeDot.svg"
                    alt=""
                    style="height: 20px"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-toolbar>
          <p
            style="
              padding-left: 20px;
              margin: 5px;
              font-size: 14px;
              font-weight: 600;
            "
            (click)="openDetail(item)"
          >
            {{ item.text }}
          </p>
          <!-- <div *ngIf="item.video" class="postPhoto">
            <video playsinline preload="auto" autoplay="true" (click)="sound()">
              <source [src]="item.video" type="video/mp4" />
            </video>
          </div> -->
        </ion-card-header>
        <ion-card-header *ngIf="item.isLive == true">
          <ion-item lines="none" class="liveZone">
            <ion-avatar
              style="margin-right: 10px; background: grey"
              slot="start"
            >
              <img [src]="item.avatar" />
            </ion-avatar>
            <ion-label>
              <p>
                {{ item.user.name }}
                <ion-icon
                  name="ellipse"
                  style="font-size: 6px; margin-right: 5px"
                ></ion-icon>
                <ion-note style="font-size: 10px">{{
                  item.startDate | timeFeed
                }}</ion-note>
              </p>
              <div style="display: flex; gap: 5px; align-items: center">
                <img src="../../assets/icon/testIconCateg.svg" alt="" />
                <p style="font-size: 10px; font-weight: 900">
                  {{ item.activity }}
                </p>
                <ion-icon name="ellipse" style="font-size: 6px"></ion-icon>
                <p class="liveIndicator">LIVE</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <img
          [src]="item.photo"
          alt=""
          (click)="openDetail(item)"
          style="
            display: block;
            max-width: 400px;
            max-height: 300px;
            width: auto;
            height: auto;
            margin: auto;
            border-radius: 15px;
          "
        />
        <ion-card-content style="padding: 0">
          <div style="display: flex; gap: 10px; margin-top: 5px">
            <img src="../../assets/icon/Icon feather-share-2.svg" alt="" />
            <img
              (click)="presentPopover(i, item)"
              src="../../assets/icon/Icon material-add-circle-outline.svg"
              alt=""
            />
            <div style="overflow-x: auto">
              <div style="display: inline-flex">
                <ng-container *ngFor="let rect of item.reactions">
                  <ion-chip
                    outline
                    *ngIf="rect.nombre > 0"
                    (click)="controleReaction(i, item.reactions, rect)"
                  >
                    <ion-avatar>
                      <img [src]="rect.icon" alt="" />
                    </ion-avatar>
                    <ion-label>{{ rect.nombre }}</ion-label>
                  </ion-chip>
                </ng-container>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </section>
  <ng-template #showBlank>
    <ion-card class="blank">
      <img src="assets/mocks/Groupe 3959.png" alt="" />
      <ion-card-header>
        <ion-card-title style="text-align: center"
          >Aucun post pour le moment</ion-card-title
        >
        <ion-card-subtitle style="text-align: center"
          >Vous pourrez suivre ici l’activité de tous les participants de cette
          compétition</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </ng-template>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div style="height: 200px; width: 100%"></div>
</ion-content>
