<ion-content>
  <ion-row>
    <ion-img class="c-img" src="assets/logo/logo_strava.png"></ion-img>
  </ion-row>
  <ion-row>
    <span class="name">Strava</span>
  </ion-row>
  <ion-row>
    <span class="sub-title">Séance externe</span>
  </ion-row>
  <ion-row class="c-progres">
    <ion-img src="assets/images/check.PNG"></ion-img>
  </ion-row>
  <ion-row>
    <span class="connexion">
      Connecté
    </span>
  </ion-row>
  <ion-fab class="c-ion-fab"  vertical="bottom" slot="fixed">
    <!-- <ion-fab-button> -->
    <span>Déconnecté</span>
    <!-- </ion-fab-button> -->
  </ion-fab>
</ion-content>