<div>
  <ion-row class="c-row">
    <ion-col>
      <div class="sexChoice" (click)="choice(0,'homme')" #sex>
       <ion-row class="c-image">
         <ion-img #image src="{{'assets/images/'+ icons[0] +'.svg'}}"></ion-img>
       </ion-row>
       <ion-row class="c-text">
        <span #type>Homme</span>
      </ion-row>
      </div>
    </ion-col>
    <ion-col>
      <div class="sexChoice" (click)="choice(1,'femme')" #sex>
        <ion-row class="c-image">
          <ion-img #image src="{{'assets/images/'+ icons[1] +'.svg'}}"></ion-img>
        </ion-row>
        <ion-row class="c-text">
         <span #type>Femme</span>
       </ion-row>
        <!-- <img src="assets/icon/Icon ionic-md-male.svg" alt="" /> -->
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="sexChoice" (click)="choice(2,'multi')" #sex>
        <ion-row class="c-image">
          <ion-img #image src="{{'assets/images/'+ icons[2] +'.svg'}}"></ion-img>
        </ion-row>
        <ion-row class="c-text">
         <span #type>Non-binaire</span>
       </ion-row>
      </div>
    </ion-col>
    <ion-col>
      <div class="sexChoice" (click)="choice(3,'autres')" #sex>
        <ion-row class="c-image">
          <ion-img #image src="{{'assets/images/'+ icons[3] +'.svg'}}"></ion-img>
        </ion-row>
        <ion-row class="c-text">
         <span #type>Autres</span>
       </ion-row>
      </div>
    </ion-col>
  </ion-row>
</div>