.sexChoice {
  display: flex;
  justify-content: center;
  background: white;
  padding: 15px 0;
  border-radius: 18px;
  width: 96%;
  height: 167px;
}
.c-image{
  padding: 42px 0;
  ion-img{
    width: 50px;
    height: 50px;
  }
}
.c-text{
  position: absolute;
    // left: 50%;
    bottom: 15px;
  span{
    position: relative;
    // left: -50%;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 12px;
    font-family: "PoppinsSemiBold" !important;
  }
}
