.progress::part(progress) {
  border-radius: 10px;
}

:host ::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .mat-horizontal-content-container,
  .mat-horizontal-stepper-content {
    height: 100%;
    // height: 100% !important;
  }
  .mat-horizontal-content-container {
    padding: 0 15px !important;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: #ffffff00;
  }
  .picker-opt {
    background: rgb(0, 0, 0) !important;
  }

  .mat-input-element {
    height: 17px;
  }
}

.notShow {
  opacity: 0;
}
.champColor {
  margin-bottom: 20px;
  margin-top: 0;
  height: 60px;
  --detail-icon-opacity: 1;
  --detail-icon-color: black;
  &::part(detail-icon) {
    background: #e0e0e0;
    padding: 5px;
    width: 30px;
    height: 31px;
    border-radius: 11px;
  }
}

.notActiveContent::part(detail-icon) {
  transform: rotate(90deg);
}

ion-item::part(detail-icon) {
  // transform: rotate(0deg);
  transition: 0.3s ease all;
}

.notActive {
  height: 0;
}

.fullSize {
  height: 100% !important;
}
