<ion-header mode="ios" style="--background: transparent">
  <ion-toolbar style="--border-width: 0 0 0 !important; --background: #f4f5fa">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="../../../../assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../../../assets/mocks/Icon feather-share-2.svg" alt="" />
      </ion-button>
      <ion-button>
        <img src="../../../../assets/mocks/Icon feather-settings.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none" style="--background: #f4f5fa">
    <ion-avatar style="margin-right: 10px" slot="start">
      <img [src]="user.avatar" />
    </ion-avatar>
    <ion-label>
      <p>{{ post.user.name }}</p>
      <div style="display: flex; gap: 5px; align-items: center">
        <img src="../../assets/icon/testIconCateg.svg" alt="" />
        <p style="font-size: 10px; font-weight: 900">
          {{ post.activity }}
        </p>
        <ion-note style="font-size: 10px">Il y'a 5 min</ion-note>
      </div>
    </ion-label>
  </ion-item>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [value]="segmentValue"
    mode="ios"
  >
    <ion-segment-button value="resume">
      <ion-label>Résumé</ion-label>
    </ion-segment-button>
    <ion-segment-button value="messages">
      <ion-label>Messages</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div
    style="display: flex; flex-direction: column"
    *ngIf="segmentValue == 'messages'"
  >
    <ion-item lines="none" style="--background: #f4f5fa">
      <ion-input
        [(ngModel)]="message"
        mode="ios"
        inputmode="text"
        clear-on-edit
        placeholder="Publier un post"
      ></ion-input>
      <ion-button
        slot="end"
        style="
          --border-radius: 50%;
          --background: #0a122129;
          --backdrop-opacity: 9%;
          height: 30px;
          width: 30px;
        "
        (click)="send()"
      >
        <img src="assets/icon/icons8-email-send.svg" alt="" />
      </ion-button>
    </ion-item>
    <ion-item lines="full" style="--background: #f4f5fa">
      <ion-icon
        name="image-outline"
        (click)="addPhoto()"
        slot="start"
      ></ion-icon>
      <ion-icon name="happy-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
</ion-header>
<ion-content>
  <div class="iconTitle" *ngIf="segmentValue == 'resume'">
    <img
      src="../../../../assets/icon/dot.svg"
      style="
        background-color: rgb(233, 229, 229);
        padding: 10px;
        border-radius: 50%;
      "
      alt=""
    />
    <h4 style="font-weight: 900; margin: 0">Statistiques</h4>
  </div>
  <app-messages
    *ngIf="segmentValue == 'messages'"
    [user]="user"
    [post]="post"
  ></app-messages>
</ion-content>
