<ion-header mode="ios" style="--background: #f4f5fa">
  <ion-toolbar style="--border-width: 0 0 0 !important; --background: #f4f5fa">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="../../../../assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../../../assets/mocks/Icon feather-share-2.svg" alt="" />
      </ion-button>
      <ion-button>
        <img src="../../../../assets/mocks/Icon feather-settings.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none" style="--background: #f4f5fa">
    <ion-avatar style="margin-right: 10px; background: grey" slot="start">
      <img [src]="user.avatar" />
    </ion-avatar>
    <ion-label>
      <div style="display: flex; gap: 10px; align-items: center">
        <p>{{ post.userName }}</p>
        <ion-note style="font-size: 10px">{{
          post.startDate | timeRelative
        }}</ion-note>
      </div>
      <div
        style="display: flex; gap: 5px; align-items: center"
        *ngIf="post.activity"
      >
        <img
          [src]="post.activity.image"
          alt=""
          style="width: 20px; height: 20px"
        />
        <p style="font-size: 10px; font-weight: 900">
          {{ post.activity.name }}
        </p>
      </div>
      <ion-note style="font-size: 12px; padding-left: 40px" *ngIf="post.text">{{
        post.comment
      }}</ion-note>
    </ion-label>
  </ion-item>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [value]="segmentValue"
    mode="ios"
  >
    <ion-segment-button value="resume">
      <ion-label>Résumé</ion-label>
    </ion-segment-button>
    <ion-segment-button value="messages">
      <ion-label>Messages</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div
    style="display: flex; flex-direction: column"
    *ngIf="segmentValue == 'messages'"
  >
    <ion-item lines="none" style="--background: #f4f5fa">
      <ion-input
        #texArea
        [(ngModel)]="message"
        mode="ios"
        inputmode="text"
        clear-on-edit
        placeholder="Publier un post"
      ></ion-input>
      <ion-button
        slot="end"
        style="
          --border-radius: 50%;
          --background: #0a122129;
          --backdrop-opacity: 9%;
          height: 30px;
          width: 30px;
        "
        (click)="send()"
      >
        <img src="assets/icon/icons8-email-send.svg" alt="" />
      </ion-button>
    </ion-item>
    <ion-item lines="full" style="--background: #f4f5fa">
      <ion-icon
        *ngIf="!picture"
        name="image-outline"
        (click)="addContenu()"
        slot="start"
      ></ion-icon>
      <div style="position: relative" *ngIf="picture">
        <img [src]="picture" alt="" class="photoJoin" />
        <img
          src="assets/icon/closeIconPhoto.svg"
          class="iconPhotoJoin"
          alt=""
          (click)="deletePhoto()"
        />
      </div>
    </ion-item>
  </div>
</ion-header>
<ion-content>
  <section
    *ngIf="segmentValue == 'resume'"
    style="
      padding: 0 15px;
      background: #f4f5fa;
      border-radius: 13px;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 23px 15px 10px;
      flex-direction: column;
    "
  >
    <div
      (click)="detailPhoto(post.photo)"
      *ngIf="post.photo"
      [style.backgroundImage]="'url(\'' + post.photo + '\')'"
      style="
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
      "
    ></div>

    <div class="iconTitle" *ngIf="post.metrics">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">STATISTIQUES</h4>
    </div>
    <div style="text-align: center" *ngIf="post.metrics">
      <span style="font-size: 33px; font-weight: 700">
        {{ post.duree.mn | number: "2.0-0" }}:{{
          post.duree.s | number: "2.0-0"
        }}</span
      >
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
      "
      *ngIf="post.activity"
    >
      <div
        *ngFor="let metric of post.metrics"
        style="
          min-width: 150px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
        "
      >
        <img [src]="metric.img" style="height: 10px" alt="" />
        <p style="font-size: 23px; margin: 0; font-weight: 600">
          {{ metric.nombre }}
        </p>
        <p style="margin: 0; font-weight: 600; color: #00000070">
          {{ metric.name }}
        </p>
      </div>
    </div>

    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">ENCOURAGEMENTS</h4>
    </div>

    <ion-item
      *ngFor="let react of tableReactions"
      lines="none"
      style="--background: white; border-radius: 20px; margin-bottom: 10px"
    >
      <ion-avatar slot="start" (click)="openProfil(react.user.uid)">
        <img [src]="react.user.avatar" alt="" *ngIf="react.user.avatar" />
        <img
          src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
          *ngIf="!react.user.avatar"
          alt=""
        />
        <ion-badge>{{ react.user.niveau }}</ion-badge>
      </ion-avatar>
      <ion-label>
        <h3
          style="
            font-size: 14px;
            color: black;
            font-weight: 700;
            margin: 0 0 2px;
          "
        >
          {{ react.user.userName }}
        </h3>
        <p>{{ react.date | timeChamp }}</p>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="react.icon" alt="" />
      </ion-thumbnail>
    </ion-item>
  </section>

  <app-messages
    *ngIf="segmentValue == 'messages'"
    [user]="user"
    [post]="post"
  ></app-messages>
</ion-content>
