<ion-content>
  <swiper #swiper [config]="config" style="height: 100%">
    <ng-template swiperSlide>
      <div style="height: 100%; overflow-y: auto">
        <ion-toolbar>
          <ion-button
            slot="start"
            (click)="close()"
            style="
              --background: transparent;
              --background-activated: transparent;
            "
          >
            <img
              src="../../../../assets/mocks/Icon feather-arrow-left.svg"
              alt=""
            />
          </ion-button>
        </ion-toolbar>

        <ion-card
          [style.backgroundColor]="ban.color"
          style="background-image: url('assets/icon/udoIconFond.svg')"
        >
          <ion-card-header>
            <ion-card-subtitle> DEMARRAGE MANUEL </ion-card-subtitle>
            <ion-card-title style="color: white">{{ title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div style="display: flex">
              <ion-avatar>
                <img [src]="user.avatar" alt="" />
                <ion-badge>{{ user.niveau }}</ion-badge>
              </ion-avatar>
            </div>
          </ion-card-content>
        </ion-card>
        <form [formGroup]="formChamp">
          <ion-item>
            <ion-input
              type="text"
              style="padding-bottom: 0px"
              placeholder="Nom du championnat"
              maxLength="20"
              class="form-control"
              formControlName="nameChamp"
              (ionChange)="onKey($event)"
            ></ion-input>
            <ion-badge
              slot="end"
              style="
                --padding-bottom: 5px;
                --padding-top: 5px;
                border-radius: 5px;
                --background: #cfccd5;
                --color: black;
              "
            >
              {{ inputLength }}
            </ion-badge>
          </ion-item>
        </form>
        <ion-segment
          (ionChange)="segmentChanged($event)"
          [value]="seg"
          style="--background: #dfdfe8"
        >
          <ion-segment-button value="Friends&Familly">
            <ion-label> Friends & Familly </ion-label>
          </ion-segment-button>
          <ion-segment-button value="Network"
            ><ion-label> Network</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-grid style="padding-right: 0">
          <ion-row style="align-items: center">
            <ion-col size="3">
              <ion-label style="font-size: 14px; font-weight: 600"
                >Couleur</ion-label
              >
            </ion-col>
            <ion-col
              size="9"
              style="justify-content: space-between; display: flex"
            >
              <ng-container *ngFor="let bann of bannieres; let i = index">
                <ion-checkbox
                  mode="ios"
                  class="checkZone"
                  style="--dataColor:{{ bann.color }};"
                  #checkBanniere
                  (click)="focused(bann, i)"
                ></ion-checkbox>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-textarea
            rows="1"
            placeholder="En quoi consiste votre championnat"
            (ionChange)="description($event)"
          ></ion-textarea>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17.086"
              height="17.339"
              viewBox="0 0 17.086 17.339"
            >
              <path
                id="Tracé_32244"
                data-name="Tracé 32244"
                d="M1273.189,232.175c-1.831.611-4.275-1.832-3.662-3.664m.751-.752-6.43,6.686a13.357,13.357,0,0,0-3.524,6.221l-.19.763a.325.325,0,0,0,.4.393l.76-.19a13.343,13.343,0,0,0,6.219-3.522l6.43-6.686a2.59,2.59,0,1,0-3.662-3.664Z"
                transform="translate(-1258.865 -225.75)"
                fill="none"
                stroke="#000000"
                stroke-width="2.5"
              />
            </svg>
          </div>
        </ion-item>
        <ion-item lines="none" class="champColor">
          <ion-thumbnail slot="start" class="thumbZone">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 12.02 12.02"
              class="thumbIcon"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: #000000;
                  }
                </style>
              </defs>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path
                    id="Icon_material-timelapse"
                    data-name="Icon material-timelapse"
                    class="cls-1"
                    d="M8.55,3.46A3.57,3.57,0,0,0,6,2.4V6L3.46,8.56a3.6,3.6,0,0,0,5.09-5.1ZM6,0a6,6,0,1,0,6,6A6,6,0,0,0,6,0ZM6,10.81A4.81,4.81,0,1,1,10.81,6,4.8,4.8,0,0,1,6,10.81Z"
                  />
                </g>
              </g>
            </svg>
          </ion-thumbnail>
          <ion-label>
            <p class="sousTitre black">Nombre de semaines</p>
            <p style="font-size: 8px">Durée maximum du championnat</p>
          </ion-label>
          <ion-item lines="none" class="addSub" slot="end">
            <ion-button (click)="sub('week')" slot="start" mode="ios">
              <img src="../../../../assets/icon/minus.svg" alt="" />
            </ion-button>
            <ion-label> {{ weekCount }}</ion-label>
            <ion-button (click)="add('week')" slot="end" mode="ios">
              <img src="../../../../assets/icon/plus.svg" alt="" />
            </ion-button>
          </ion-item>
        </ion-item>
        <ion-item lines="full" class="champColor">
          <ion-thumbnail class="thumbZone" slot="start">
            <img class="thumbIcon" src="assets/icon/friends.svg" alt="" />
          </ion-thumbnail>
          <ion-label>
            <p class="sousTitre black">Séances par semaine</p>
            <p style="font-size: 8px">Minimum de séances par semaine</p>
          </ion-label>
          <ion-item lines="none" class="addSub" slot="end">
            <ion-button (click)="sub('weekSeance')" slot="start" mode="ios">
              <img src="../../../../assets/icon/minus.svg" alt="" />
            </ion-button>
            <ion-label> {{ seanceWeekCount }}</ion-label>
            <ion-button
              mode="ios"
              (click)="add('weekSeance')"
              slot="end"
              class="ion-activatable ripple-parent"
            >
              <img src="../../../../assets/icon/plus.svg" alt="" />
            </ion-button>
          </ion-item>
        </ion-item>
        <ion-item lines="none" class="champColor">
          <ion-icon
            name="trophy-outline"
            style="
              padding: 10px;
              border-radius: 50%;
              border: 1px solid grey;
              margin-right: 10px;
            "
          ></ion-icon>
          <ion-label>
            <p class="sousTitre black">Activer la limite de niveaux</p>
            <p style="font-size: 8px">
              Activer la limite de participants maximum
            </p>
          </ion-label>
          <ion-toggle slot="end" (ionChange)="change($event)"></ion-toggle>
        </ion-item>

        <ion-item
          lines="full"
          class="champColor"
          [ngClass]="{ maxPlay: maxPlayer === false }"
        >
          <ion-range
            id="dual-range"
            dual-knobs
            pin="true"
            min="0"
            max="200"
            step="20"
            snaps="true"
            mode="md"
            #ranger
            (ionChange)="changement($event)"
          >
            <ion-badge slot="start" *ngIf="range" class="badgeRange">{{
              range.lower
            }}</ion-badge>
            <ion-badge slot="end" *ngIf="range" class="badgeRange">{{
              range.upper
            }}</ion-badge>
          </ion-range>
        </ion-item>
        <ion-item
          detail
          lines="full"
          class="champColor"
          (click)="slideNext('activity')"
        >
          <ion-thumbnail
            class="thumbZone"
            slot="start"
            style="position: relative"
          >
            <img class="thumbIcon" src="assets/icon/icons8-course.svg" alt="" />
            <ion-badge
              style="
                position: absolute;
                top: -5px;
                right: -8px;
                height: 25px;
                width: 25px;
                display: flex;
                border-radius: 50%;
                --background: black;
                align-items: center;
                justify-content: center;
              "
              *ngIf="activitesList.length !=0"
              >{{ activitesList.length }}</ion-badge
            >
          </ion-thumbnail>
          <ion-label>
            <p class="sousTitre black">Liste des activités</p>
            <p style="font-size: 8px">Sélectionnez les activités :</p>
          </ion-label>
        </ion-item>
        <div style="display: flex; justify-content: center">
          <ion-button
            shape="round"
            class="buttonNextSlide"
            style="--background: #ed2d6a; width: 50%"
            (click)="nextFriends()"
            [disabled]="formChamp.invalid"
            >Publier
          </ion-button>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div style="height: 100%; overflow-y: auto">
        <div id="top">
          <app-activity-list
            *ngIf="sliderPage == 'activity'"
            [header]="true"
            (activitesEvent)="eventActivite($event)"
            (backAction)="backSlide($event)"
            [listAct]="activitesList"
          ></app-activity-list>
          <app-friends-list
            [competition]="'championnat'"
            (champCreate)="saveChamp($event)"
            [createur]="user"
            [type]="private.type"
            [range]="range"
            [acitivities]="activitesList"
            *ngIf="sliderPage == 'amis'"
            (friendList)="chooseFriends($event)"
            (backAction)="backSlide($event)"
            [boutton]="'Démarrer'"
          ></app-friends-list>
        </div>
      </div>
    </ng-template>
  </swiper>
</ion-content>
