<ion-header mode="ios" style="--background: #f7f7fa">
  <app-header [user]="user"></app-header>

  <section style="background: #f7f7fa; padding: 0 15px">
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">FEED</h4>
    </div>
  </section>

  <div
    style="overflow-x: auto; padding: 10px 15px 25px; background: #f7f7fa"
    class="example"
  >
    <div style="display: inline-flex; gap: 10px">
      <div
        class="slideFeed"
        [ngClass]="{black: indice == 0, white :  indice !==0}"
        (click)="clickFilter(filters[0].name, 0)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 15.6 15.6"
          [ngClass]="{whiteFill: indice == 0, blackFill :  indice !== 0 }"
        >
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <g id="Icon_feather-clock" data-name="Icon feather-clock">
                <g id="Tracé_32399" data-name="Tracé 32399">
                  <path
                    d="M7.8,15.6a7.8,7.8,0,1,1,7.8-7.8A7.81,7.81,0,0,1,7.8,15.6Zm0-13.1A5.3,5.3,0,1,0,13.1,7.8,5.31,5.31,0,0,0,7.81,2.5Z"
                  />
                </g>
                <g id="Tracé_32400" data-name="Tracé 32400">
                  <path
                    d="M9.6,10a1.23,1.23,0,0,1-.55-.13L6.56,8.57V4.8a1.25,1.25,0,0,1,2.5,0V7l1.1.55A1.25,1.25,0,0,1,9.6,10Z"
                  />
                </g>
              </g>
            </g>
          </g>
        </svg>

        <p
          style="font-size: 14px; font-weight: 900"
          [ngClass]="{whiteLabel: indice == 0 , blackLabel : indice !== 0}"
        >
          {{filters[0].name}}
        </p>
      </div>
      <div
        class="slideFeed"
        [ngClass]="{black: indice == 1, white :  indice !== 1}"
        (click)="clickFilter(filters[1].name, 1)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 13.78 15.07"
          [ngClass]="{whiteFill: indice == 1, blackFill :  indice !==1}"
        >
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path
                d="M10.78,7.53a.41.41,0,0,0-.22-.37L3.66,3.07a.41.41,0,0,0-.43,0A.39.39,0,0,0,3,3.44v8.18a.4.4,0,0,0,.22.38.39.39,0,0,0,.43,0l6.9-4.09a.38.38,0,0,0,.22-.37m3,0a3.4,3.4,0,0,1-1.68,3L5.19,14.58a3.44,3.44,0,0,1-5.19-3V3.44A3.44,3.44,0,0,1,5.19.49L12.1,4.57A3.42,3.42,0,0,1,13.78,7.53Z"
              />
            </g>
          </g>
        </svg>

        <p
          style="font-size: 14px; font-weight: 900"
          [ngClass]="{whiteLabel: indice == 1 , blackLabel : indice !== 1}"
        >
          {{filters[1].name}}
        </p>
      </div>
      <div
        class="slideFeed"
        [ngClass]="{black: indice == 2, white :  indice !== 2}"
        (click)="clickFilter(filters[2].name, 2)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 14.37 16.42"
          [ngClass]="{whiteFill: indice == 2, blackFill :  indice !== 2 }"
        >
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path
                d="M8.7,3.54l-.1.12-.1-.13A25.08,25.08,0,0,0,5.36,0C2.25,2.92,0,6.69,0,9a7.31,7.31,0,0,0,7.19,7.4A7.31,7.31,0,0,0,14.37,9c0-1.72-1.67-5.2-3.93-7.35A18.09,18.09,0,0,0,8.7,3.54Zm1.93,3.35c.14.23.26.45.37.66a4,4,0,0,1-1.13,5.17h0a4.48,4.48,0,0,1-2.58.81H7A4.15,4.15,0,0,1,2.89,9.66c0-.12,0-.23,0-.34C2.88,8.06,3.59,7,5.29,5l.09-.11.1.11c.2.24,2.62,3.32,3.14,4l1.92-2.2Z"
              />
            </g>
          </g>
        </svg>
        <p
          style="font-size: 14px; font-weight: 900"
          [ngClass]="{whiteLabel: indice == 2 , blackLabel : indice !== 2}"
        >
          {{filters[2].name}}
        </p>
      </div>
      <div
        class="slideFeed"
        [ngClass]="{black: indice == 3, white :  indice !== 3}"
        (click)="clickFilter(filters[3].name, 3)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 17.71 14.95"
          [ngClass]="{whiteFill: indice == 3, blackFill :  indice !== 3 }"
        >
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <g id="Icon_feather-users" data-name="Icon feather-users">
                <g id="Tracé_31927" data-name="Tracé 31927">
                  <path
                    d="M12.31,15a1.25,1.25,0,0,1-1.25-1.25V12.32A1.52,1.52,0,0,0,9.55,10.8H4A1.52,1.52,0,0,0,2.5,12.32V13.7a1.25,1.25,0,0,1-2.5,0V12.32a4,4,0,0,1,4-4H9.55a4,4,0,0,1,4,4V13.7A1.25,1.25,0,0,1,12.31,15Z"
                  />
                </g>
                <g id="Tracé_31928" data-name="Tracé 31928">
                  <path
                    d="M6.78,8a4,4,0,1,1,4-4h0A4,4,0,0,1,6.78,8Zm0-5.53A1.52,1.52,0,1,0,8.3,4h0A1.5,1.5,0,0,0,6.78,2.5Z"
                  />
                </g>
                <g id="Tracé_31929" data-name="Tracé 31929">
                  <path
                    d="M16.46,15a1.25,1.25,0,0,1-1.25-1.25V12.31a1.52,1.52,0,0,0-1.13-1.46,1.25,1.25,0,0,1,.62-2.42,4,4,0,0,1,3,3.88V13.7A1.25,1.25,0,0,1,16.46,15Z"
                  />
                </g>
                <g id="Tracé_31930" data-name="Tracé 31930">
                  <path
                    d="M11.62,8a1.25,1.25,0,0,1-.31-2.46,1.5,1.5,0,0,0,1.1-1.09,1.52,1.52,0,0,0-1.1-1.84A1.25,1.25,0,0,1,11.93.13a4,4,0,0,1,0,7.79A1.63,1.63,0,0,1,11.62,8Z"
                  />
                </g>
              </g>
            </g>
          </g>
        </svg>
        <p
          style="font-size: 14px; font-weight: 900"
          [ngClass]="{whiteLabel: indice == 3 , blackLabel : indice !== 3}"
        >
          {{filters[3].name}}
        </p>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <section class="contenu" *ngIf="loading == false ; else showBlank">
    <ng-container *ngIf="feeds.length;else noFeed">
      <ion-list style="background: #f7f7fa">
        <ion-item
          lines="full"
          *ngFor="let item of feeds; let i = index"
          style="
            margin-bottom: 10px;
            --inner-padding-end: 0;
            --padding-start: 15px;
            --padding-end: 15px;
          "
        >
          <ion-card
            style="
              box-shadow: none;
              width: 100%;
              --background: #f4f5fa00;
              margin-right: 0;
              margin-left: 0;
            "
          >
            <ion-card-header *ngIf="item.type == 'picture'">
              <ion-toolbar class="postZone">
                <ion-avatar
                  style="margin-right: 10px; background: grey"
                  slot="start"
                  (click)="
              openProfil(item.user.uid)
            "
                >
                  <img [src]="item.user.avatar" />
                </ion-avatar>
                <ion-label>
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      gap: 4px;
                      margin-bottom: 10px;
                    "
                  >
                    <p style="margin-bottom: 0; font-weight: 700">
                      {{ item.user.userName }}
                    </p>
                    <ion-icon name="ellipse" style="font-size: 6px"></ion-icon>

                    <p style="font-size: 10px; opacity: 0.5; font-weight: 600">
                      {{ item.startDate | timeRelative }}
                    </p>
                  </div>
                  <div style="display: flex; gap: 5px; align-items: center">
                    <div style="display: flex; gap: 5px; align-items: center">
                      <img
                        style="
                          padding: 5px;
                          border-radius: 50%;
                          background: #eaebef;
                        "
                        src="assets/icon/FriendsFamilly.svg"
                        alt=""
                        *ngIf="item.championnatType == 'Friends&Familly'"
                      />
                      <img
                        style="
                          padding: 2px;
                          height: 26px;
                          border-radius: 50%;
                          background: #eaebef;
                          width: 26px;
                        "
                        [src]="item.challIcon"
                        alt=""
                        *ngIf="item.challIcon"
                      />

                      <img
                        style="
                          padding: 5px;
                          border-radius: 50%;
                          background: #eaebef;
                        "
                        src="assets/icon/Icon feather-globe.svg"
                        alt=""
                        *ngIf="item.championnatType == 'Network'"
                      />
                      <p
                        style="
                          color: #6f99f7;
                          font-size: 10px;
                          font-weight: 600;
                        "
                      >
                        {{item.competitionName}}
                      </p>
                    </div>

                    <div style="display: flex; gap: 5px; align-items: center">
                      <img
                        *ngIf="item.activity"
                        [src]="item.activity.image"
                        alt=""
                        style="width: 20px; height: 20px"
                      />
                      <p
                        style="font-size: 10px; font-weight: 900"
                        *ngIf="item.activity"
                      >
                        {{ item.activity.name }}
                      </p>
                    </div>
                  </div>
                </ion-label>

                <img
                  (click)="presentEditPost($event, item.uid)"
                  *ngIf="user.uid == item.userId"
                  slot="end"
                  src="../../assets/icon/threeDot.svg"
                  alt=""
                  style="height: 20px"
                />
              </ion-toolbar>
              <p
                style="margin: 0 12px 12px 0; font-size: 14px; font-weight: 600"
                (click)="openDetail(item)"
              >
                {{ item.comment }}
              </p>
            </ion-card-header>
            <ion-card-header *ngIf="item.type =='session-now'">
              <ion-item lines="none" class="liveZone">
                <ion-avatar
                  (click)="
            openProfil(item.user.uid)
          "
                  style="margin-right: 10px; background: grey"
                  slot="start"
                >
                  <img [src]="item.user.avatar" />
                </ion-avatar>
                <ion-label>
                  <div style="display: flex; align-items: center; gap: 4px">
                    <p style="margin-bottom: 0">{{ item.user.userName }}</p>
                    <ion-icon name="ellipse" style="font-size: 6px"></ion-icon>

                    <p style="font-size: 10px">
                      {{ item.startDate | timeRelative }}
                    </p>
                    <ion-icon name="ellipse" style="font-size: 6px"></ion-icon>
                    <p class="liveIndicator">LIVE</p>
                  </div>
                  <div style="display: flex; gap: 5px; align-items: center">
                    <div style="display: flex; gap: 5px; align-items: center">
                      <div style="display: flex; gap: 5px; align-items: center">
                        <img
                          style="
                            padding: 5px;
                            border-radius: 50%;
                            background: #eaebef;
                          "
                          src="assets/icon/FriendsFamilly.svg"
                          alt=""
                          *ngIf="item.championnatType == 'Friends&Familly'"
                        />
                        <img
                          style="
                            padding: 5px;
                            border-radius: 50%;
                            background: #eaebef;
                          "
                          src="assets/icon/Icon feather-globe.svg"
                          alt=""
                          *ngIf="item.championnatType == 'Network'"
                        />
                        <p
                          style="
                            color: #6f99f7;
                            font-size: 10px;
                            font-weight: 600;
                          "
                        >
                          {{item.competitionName}}
                        </p>
                      </div>
                      <ion-icon
                        name="ellipse"
                        style="font-size: 6px"
                      ></ion-icon>

                      <img
                        *ngIf="item.activity"
                        [src]="item.activity.image"
                        alt=""
                        style="width: 20px; height: 20px"
                      />
                      <p
                        style="font-size: 10px; font-weight: 900"
                        *ngIf="item.activity"
                      >
                        {{ item.activity.name }}
                      </p>
                      <!-- </div> -->
                    </div>
                  </div>
                </ion-label>
              </ion-item>
            </ion-card-header>
            <ion-thumbnail
              *ngIf="item.type == 'picture' && item.photo"
              style="
                background-color: rgb(233, 229, 229);
                height: 300px;
                width: 100%;
                background-position: center;
                background-size: cover;
                border-radius: 15px;
              "
              (click)="openDetail(item)"
            >
              <ion-img
                [src]=" item.photo"
                (ionImgDidLoad)="show($event, i)"
                style="border-radius: 15px; border: 0"
              >
              </ion-img>
            </ion-thumbnail>
            <ng-container *ngIf="item.photo =='' && item.comment ==''">
              <div
                style="
                  height: 300px;
                  width: 100%;
                  border-radius: 15px;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                "
                (click)="openDetail(item)"
              >
                <div
                  *ngFor="let metric of item.metrics"
                  style="
                    min-width: 100px;
                    width: 130px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                  "
                >
                  <img [src]="metric.img" style="height: 10px" alt="" />
                  <p style="font-size: 23px; margin: 0; font-weight: 600">
                    {{ metric.nombre }}
                  </p>
                  <p style="margin: 0; font-weight: 600; color: #00000070">
                    {{ metric.name }}
                  </p>
                </div>
              </div>
            </ng-container>
            <ion-card-content style="padding: 0">
              <div
                style="
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  padding-top: 9px;
                "
              >
                <img
                  (click)="presentPopover(i, item)"
                  src="../../assets/icon/Icon material-add-circle-outline.svg"
                  alt=""
                />
                <div style="overflow-x: auto; padding: 10px 15px">
                  <div style="display: inline-flex; gap: 25px">
                    <ng-container *ngFor="let rect of item.reactions">
                      <div
                        style="
                          display: flex;
                          border-radius: 20px;
                          width: 51px;
                          justify-content: space-between;
                          position: relative;
                          box-shadow: 0px 3px 6px #00000029;
                        "
                        *ngIf="rect.nombre !== 0"
                        (click)="controleReaction(i, item.reactions, rect)"
                      >
                        <div style="flex: 1">
                          <img
                            [src]="rect.icon"
                            alt=""
                            style="position: absolute; left: -22px; top: -14px"
                          />
                        </div>
                        <span
                          style="
                            flex: 1;
                            text-align: center;
                            font-weight: 900;
                            color: black;
                          "
                          >{{rect.nombre}}</span
                        >
                      </div>
                      <!-- <ion-chip
                    outline
                    *ngIf="rect.nombre > 0"
                    (click)="controleReaction(i, item.reactions, rect)"
                  >
                    <ion-avatar>
                      <img [src]="rect.icon" alt="" />
                    </ion-avatar>
                    <ion-label>{{ rect.nombre }}</ion-label>
                  </ion-chip> -->
                    </ng-container>
                  </div>
                </div>
              </div>
              <ion-item *ngIf="item.postLast" lines="none">
                <ion-avatar
                  style="margin-right: 10px; background: grey"
                  slot="start"
                >
                  <img [src]="item.postLast.sender.avatar" />
                </ion-avatar>
                <ion-label>
                  <div style="display: flex; align-items: center; gap: 10px">
                    <p style="margin-bottom: 0; font-weight: 700">
                      {{ item.postLast.sender.userName }}
                    </p>
                    <ion-icon
                      name="ellipse"
                      style="font-size: 6px; margin-right: 5px"
                    ></ion-icon>

                    <p style="font-size: 10px">
                      {{ item.postLast.date | timeRelative }}
                    </p>
                  </div>
                  <p style="font-size: 12px; color: black">
                    {{item.postLast.text}}
                  </p>
                </ion-label>
                <ion-chip
                  (click)="openDetail(item, 'messages')"
                  slot="end"
                  style="
                    --background: white;
                    --color: black;
                    box-shadow: 0px 3px 6px #00000029;
                    font-weight: 900;
                    margin: 0;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="23.519"
                    height="21.005"
                    viewBox="0 0 23.519 21.005"
                  >
                    <defs>
                      <style>
                        .a {
                          fill: #000000;
                          stroke: #000000;
                          stroke-width: 0.5px;
                        }
                      </style>
                    </defs>
                    <path
                      class="a"
                      d="M313.56,676.9H295.593a2.54,2.54,0,0,0-2.526,2.527v15.733c0,2.236,3.058,2.856,4.4,1.511l.9-.9a1.168,1.168,0,0,1,.826-.341H313.56a2.539,2.539,0,0,0,2.526-2.527V679.431A2.538,2.538,0,0,0,313.56,676.9Zm-.281,2.807v12.914H298.2a1.146,1.146,0,0,0-.812.336l-.916.915a.35.35,0,0,1-.6-.247V679.711Z"
                      transform="translate(-292.817 -676.654)"
                    />
                  </svg>
                  {{item.postCount}}
                </ion-chip>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-template #noFeed>
      <ion-card class="blank">
        <img src="assets/icon/empty_feed.svg" alt="" />
        <ion-card-header>
          <ion-card-title style="text-align: center"
            >Aucun post pour le moment</ion-card-title
          >
          <ion-card-subtitle style="text-align: center"
            >Vous pourrez suivre ici l’activité de tous les participants de
            cette compétition</ion-card-subtitle
          >
        </ion-card-header>
      </ion-card>
    </ng-template>
  </section>
  <ng-template #showBlank>
    <ion-list>
      <ion-item
        lines="full"
        *ngFor="let item of templateTable; let i = index"
        style="
          margin-bottom: 10px;
          --inner-padding-end: 0;
          --padding-start: 15px;
          --padding-end: 15px;
        "
      >
        <ion-card
          style="
            box-shadow: none;
            width: 100%;
            --background: #f4f5fa00;
            margin-right: 0;
            margin-left: 0;
          "
        >
          <ion-card-header>
            <ion-toolbar class="postZone">
              <ion-avatar
                style="margin-right: 10px; background: grey"
                slot="start"
              >
                <!-- <img [src]="item.user.avatar" /> -->
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    margin-bottom: 10px;
                  "
                >
                  <ion-skeleton-text
                    animated
                    style="width: 15%"
                  ></ion-skeleton-text>
                  <ion-icon name="ellipse" style="font-size: 6px"></ion-icon>

                  <ion-skeleton-text
                    animated
                    style="width: 15%"
                  ></ion-skeleton-text>
                </div>
                <div style="display: flex; gap: 5px; align-items: center">
                  <ion-avatar style="height: 22px; width: 22px">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-skeleton-text
                    animated
                    style="width: 15%"
                  ></ion-skeleton-text>

                  <ion-avatar style="height: 22px; width: 22px">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-skeleton-text
                    animated
                    style="width: 15%"
                  ></ion-skeleton-text>
                </div>
              </ion-label>
            </ion-toolbar>
          </ion-card-header>
          <ion-thumbnail
            style="
              background-color: rgb(233, 229, 229);
              height: 300px;
              width: 100%;
              background-position: center;
              background-size: cover;
              border-radius: 15px;
            "
          >
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail> </ion-card></ion-item
    ></ion-list>
  </ng-template>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Veuillez patienter..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div style="height: 0; width: 100%"></div>
</ion-content>
