<ion-header mode="ios" style="--background: #f7f7fa">
  <ion-toolbar
    style="padding: 5px 15px; --border-width: 0; --background: #f7f7fa"
    mode="ios"
  >
    <ion-avatar slot="start" class="big" *ngIf="user" (click)="showMenu()">
      <img [src]="user.avatar" alt="" />
      <ion-badge>{{ user?.niveau }}</ion-badge>
    </ion-avatar>
    <ion-title>
      <img src="../../assets/icon/udoIcon.svg" alt="" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chatPage()">
        <img src="../../assets/icon/chat.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <section style="background: #f7f7fa; padding: 0 15px">
    <ion-item button lines="none" class="badgeHeader" (click)="userProfil()">
      <div>
        <div
          style="
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 4px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
          "
        >
          <ion-label>{{user?.niveau}}</ion-label>
        </div>
      </div>
      <ion-label *ngIf="user">
        <p style="color: black; font-weight: 700 !important; font-size: 16px">
          {{user.userName}}
        </p>
        <p style="font-size: 12px">Consulter mon profil</p>
      </ion-label>
    </ion-item>
    <div class="iconTitle">
      <img
        src="../../assets/icon/dot.svg"
        style="
          background-color: rgb(233, 229, 229);
          padding: 10px;
          border-radius: 50%;
        "
        alt=""
      />
      <h4 style="font-weight: 900; margin: 0">FEED</h4>
    </div>
    <swiper
      #swiper2
      [config]="config2"
      style="padding-left: 15px"
      class="sliderFilter"
    >
      <ng-template swiperSlide *ngFor="let filter of filters">
        <ion-item style="width: auto" lines="none" class="chipFilter">
          <img [src]="filter.icon" style="margin-right: 5px" />
          <ion-label style="font-size: 14px; font-weight: 900"
            >{{filter.name}}</ion-label
          >
        </ion-item>
      </ng-template>
    </swiper>
  </section>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="contenu" *ngIf="feeds; else showBlank">
    <ion-item
      *ngFor="let item of feeds; let i = index"
      style="margin-bottom: 10px; --inner-padding-end: 0"
    >
      <ion-card
        style="
          box-shadow: none;
          width: 100%;
          --background: #f4f5fa00;
          margin-right: 0;
          margin-left: 0;
        "
      >
        <ion-card-header *ngIf="item.isLive == false">
          <ion-toolbar class="postZone">
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-item lines="none">
                    <ion-avatar
                      style="margin-right: 10px; background: grey"
                      slot="start"
                      (click)="
                        openProfil(item.userId ? item.userId : item.userUid)
                      "
                    >
                      <img [src]="item.userAvatar" />
                    </ion-avatar>
                    <ion-label>
                      <p>{{ item.username }}</p>
                      <div style="display: flex; gap: 5px; align-items: center">
                        <img src="../../assets/icon/testIconCateg.svg" alt="" />
                        <p style="font-size: 10px; font-weight: 900">
                          {{ item.activity }}
                        </p>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="2" style="--ion-grid-column-padding: 20px">
                  <img
                    src="../../assets/icon/threeDot.svg"
                    alt=""
                    style="height: 20px"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-toolbar>
          <p
            style="
              padding-left: 20px;
              margin: 5px;
              font-size: 14px;
              font-weight: 600;
            "
            (click)="openDetail(item)"
          >
            {{ item.text }}
          </p>
        </ion-card-header>
        <ion-card-header *ngIf="item.isLive == true">
          <ion-item lines="none" class="liveZone">
            <ion-avatar
              (click)="
            openProfil(item.userId ? item.userId : item.userUid)
          "
              style="margin-right: 10px; background: grey"
              slot="start"
            >
              <img [src]="item.avatar" />
            </ion-avatar>
            <ion-label>
              <p>
                {{ item.username }}
                <ion-icon
                  name="ellipse"
                  style="font-size: 6px; margin-right: 5px"
                ></ion-icon>
              </p>
              <div style="display: flex; gap: 5px; align-items: center">
                <img src="../../assets/icon/testIconCateg.svg" alt="" />
                <p style="font-size: 10px; font-weight: 900">
                  {{ item.activity }}
                </p>
                <ion-icon name="ellipse" style="font-size: 6px"></ion-icon>
                <p class="liveIndicator">LIVE</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <img
          [src]="item.photo"
          alt=""
          (click)="openDetail(item)"
          style="
            display: block;
            max-width: 400px;
            max-height: 300px;
            width: auto;
            height: auto;
            margin: auto;
            border-radius: 15px;
          "
        />
        <ion-card-content style="padding: 0">
          <div style="display: flex; gap: 10px; margin-top: 5px">
            <img
              (click)="presentPopover(i, item)"
              src="../../assets/icon/Icon material-add-circle-outline.svg"
              alt=""
            />
            <div style="overflow-x: auto">
              <div style="display: inline-flex">
                <ng-container *ngFor="let rect of item.reactions">
                  <ion-chip
                    outline
                    *ngIf="rect.nombre > 0"
                    (click)="controleReaction(i, item.reactions, rect)"
                  >
                    <ion-avatar>
                      <img [src]="rect.icon" alt="" />
                    </ion-avatar>
                    <ion-label>{{ rect.nombre }}</ion-label>
                  </ion-chip>
                </ng-container>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </section>
  <ng-template #showBlank>
    <ion-card class="blank">
      <img src="assets/mocks/Groupe 3959.png" alt="" />
      <ion-card-header>
        <ion-card-title style="text-align: center"
          >Aucun post pour le moment</ion-card-title
        >
        <ion-card-subtitle style="text-align: center"
          >Vous pourrez suivre ici l’activité de tous les participants de cette
          compétition</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </ng-template>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div style="height: 200px; width: 100%"></div>
</ion-content>
