<ion-content [fullscreen]="true">
  <app-header [user]="user"></app-header>
  <ion-segment
    [value]="segmentValue"
    mode="ios"
    (ionChange)="viewChange($event)"
  >
    <ion-segment-button value="championnats">
      <ion-label>Championnats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="challenges">
      <ion-label>Challenges</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="segmentValue == 'championnats'">
    <app-champ-view
      [userChampionnats]="userChampionnats"
      [championnatsList]="championnatsList"
      [champinonatNetwork]="champinonatNetwork"
      (champChoice)="launchDetail($event)"
      (createChamp)="buttonClick($event)"
      (viewAllChamp)="viewCompetitions($event)"
    ></app-champ-view>
  </ng-container>
  <ng-container *ngIf="segmentValue == 'challenges'">
    <app-chall-view
      (viewAllChall)="viewCompetitions($event)"
      (createChall)="createChallenge($event)"
      [challenges]="challengesEnAttente"
      [challengesUser]="challengesUser"
      [challEncours]="challengesEnCours"
      (challengeId)="openChallenge($event)"
      [user]="user"
    ></app-chall-view>
  </ng-container>
  <ng-template #tempChamp>
    <swiper #swiper [config]="config" style="padding-left: 0">
      <ng-template swiperSlide *ngFor="let chall of temporaire">
        <ion-card style="height: 170px; width: 100%; border-radius: 30px">
          <ion-card-header style="padding: 20px">
            <ion-item class="template" lines="none">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <ion-skeleton-text
                  animated
                  style="width: 20%"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="width: 40%"
                ></ion-skeleton-text>
              </ion-label>
              <ion-avatar slot="end">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-item>
          </ion-card-header>

          <ion-card-content class="cardContent">
            <ion-item
              style="--background: transparent; width: 100%"
              lines="none"
            >
              <ion-skeleton-text
                animated
                style="width: 30%"
                slot="start"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 20%"
                slot="end"
              ></ion-skeleton-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </swiper>
  </ng-template>
  <ng-template #tempChall>
    <swiper #swiper [config]="config" style="padding-left: 0">
      <ng-template swiperSlide *ngFor="let chall of temporaire">
        <ion-card
          style="
            height: 170px;
            width: 100%;
            border-radius: 30px;
            margin: 0 20px;
          "
        >
          <ion-card-header style="padding: 20px">
            <ion-item class="template" lines="none">
              <ion-avatar slot="start" style="">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content class="cardContentZone">
            <ion-skeleton-text
              animated
              style="width: 30%"
              slot="start"
            ></ion-skeleton-text>
            <ion-skeleton-text
              animated
              style="width: 80%"
              slot="start"
            ></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </swiper>
  </ng-template>
  <ng-template #tempNetWork>
    <swiper #swiper [config]="config" style="padding-left: 0">
      <ng-template swiperSlide *ngFor="let chall of temporaire">
        <ion-card style="height: 257px; width: 100%; border-radius: 30px">
          <ion-card-header style="padding: 20px">
            <ion-item class="template" lines="none">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <ion-skeleton-text
                  animated
                  style="width: 20%"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="width: 40%"
                ></ion-skeleton-text>
              </ion-label>
              <ion-avatar slot="end">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-item>
          </ion-card-header>

          <ion-card-content class="cardContent">
            <ion-item
              style="--background: transparent; width: 100%"
              lines="none"
            >
              <ion-skeleton-text
                animated
                style="width: 30%"
                slot="start"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 20%"
                slot="end"
              ></ion-skeleton-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </swiper>
  </ng-template>
</ion-content>
