<ion-header>
  <ion-toolbar style="--border-width: 0 !important">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar
      style="height: 100px; width: 100px; border: 5px solid white"
      [ngClass]="{ greyBlank: !user.avatar }"
    >
      <img
        *ngIf="!user.avatar"
        src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
        alt=""
      />
      <img [src]="user.avatar" *ngIf="user.avatar" alt="" />
      <ion-badge>{{ user.niveau }}</ion-badge>
    </ion-avatar>

    <div>
      <ion-label style="font-size: 20px; font-weight: 700">{{
        user.userName
      }}</ion-label>
    </div>
  </ion-item>
  <ion-item lines="full">
    <span
      style="
        position: absolute;
        left: 11px;
        color: white;
        font-size: 12px;
        z-index: 1000;
        font-weight: 700;
      "
      >{{ user.exp }} XP</span
    >
    <ion-progress-bar
      style="height: 23px; border-radius: 34px; --background: #eaebef"
      [value]="ratio"
    >
    </ion-progress-bar>
    <span
      style="
        position: absolute;
        right: 26px;
        color: black;
        font-size: 12px;
        z-index: 1000;
        font-weight: 700;
      "
      >100 XP</span
    >
  </ion-item>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="none" detail class="champColor" (click)="openProfil()">
      <div class="typeLogo">
        <img src="assets/icon/profil.svg" style="width: 50%" />
      </div>
      <ion-label>
        <p class="sousTitre black">Mon profil</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" detail class="champColor">
      <div class="typeLogo">
        <img src="assets/icon/profil.svg" style="width: 50%" />
      </div>
      <ion-label>
        <p class="sousTitre black">Centre des notifications</p>
        <p style="font-size: 10px">Consulter vos notifications</p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="full" class="champColor">
      <div class="typeLogo">
        <img src="assets/icon/FriendsFamilly.svg" alt="" />
      </div>
      <ion-label>
        <p class="sousTitre black">Mes amis</p>
        <p style="font-size: 10px">
          Consulter et gérer votre liste de contacts
        </p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" class="champColor">
      <div class="typeLogo">
        <img src="assets/icon/cup.svg" style="width: 50%" alt="" />
      </div>

      <ion-label>
        <p class="sousTitre black">Mes championnats</p>
        <p style="font-size: 10px">
          Consulter et gérer votre liste de contacts
        </p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" class="champColor" (click)="logout()">
      <div class="typeLogo sombre">
        <img
          src="assets/icon/Icon open-account-logout.svg"
          style="width: 50%"
          alt=""
        />
      </div>
      <ion-label>
        <p class="sousTitre black">Se déconnecter</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
