<ion-header>
  <ion-toolbar style="--border-width: 0 !important">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-button slot="end" (click)="logout()"> Se déconnecter </ion-button>
  </ion-toolbar>
  <ion-item lines="none">
    <img
      src="assets/mocks/1.jpg"
      alt=""
      style="width: 72px; height: 72px; border-radius: 50%"
    />
    <div>
      <ion-label style="font-size: 20px; font-weight: 700"
        >{{user.userName}}</ion-label
      >
      <ion-chip>
        <ion-label style="font-size: 10px">Avancé</ion-label>
      </ion-chip>
    </div>
  </ion-item>
  <ion-item lines="full">
    <ion-progress-bar
      style="height: 23px; border-radius: 34px; --background: #eaebef"
      value="0.5"
    ></ion-progress-bar>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="none" detail class="champColor" (click)="openProfil()">
      <img
        src="assets/icon/profil.svg"
        style="
          padding: 10px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-right: 10px;
        "
      />
      <ion-label>
        <p class="sousTitre black">Mon profil</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" detail class="champColor">
      <ion-icon
        name="trophy-outline"
        style="
          padding: 10px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-right: 10px;
        "
      ></ion-icon>
      <ion-label>
        <p class="sousTitre black">Ouvrir au public</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="full" class="champColor">
      <ion-icon
        name="trophy-outline"
        style="
          padding: 10px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-right: 10px;
        "
      ></ion-icon>
      <ion-label>
        <p class="sousTitre black">Ouvrir au public</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" class="champColor">
      <ion-icon
        name="trophy-outline"
        style="
          padding: 10px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-right: 10px;
        "
      ></ion-icon>
      <ion-label>
        <p class="sousTitre black">Ouvrir au public</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="none" class="champColor">
      <ion-icon
        name="trophy-outline"
        style="
          padding: 10px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-right: 10px;
        "
      ></ion-icon>
      <ion-label>
        <p class="sousTitre black">Ouvrir au public</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
    <ion-item detail lines="full" class="champColor">
      <ion-icon
        name="trophy-outline"
        style="
          padding: 10px;
          border-radius: 50%;
          border: 1px solid grey;
          margin-right: 10px;
        "
      ></ion-icon>
      <ion-label>
        <p class="sousTitre">Ouvrir au public</p>
        <p style="font-size: 10px">Mode actuel :</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
