ion-progress-bar::part(progress) {
  border-radius: 20px;
  background-color: black;
}

.champColor {
  margin-bottom: 20px;
  margin-top: 0;
  height: 60px;
  --detail-icon-opacity: 1;
  --detail-icon-color: black;
  &::part(detail-icon) {
    background: #e0e0e0;
    padding: 5px;
    width: 30px;
    height: 31px;
    border-radius: 11px;
  }
}
