<!-- <ion-header class="c-header">

</ion-header> -->

<ion-content>
   <ion-toolbar>
    <ion-item lines="none">
      <ion-img slot="start" slot="start"  class="img-back" src="assets/images/backArrow.svg" (click)="retour()"> </ion-img>
      <ion-title>{{titleCurrentPage}}</ion-title>
      <ion-img slot="end" class="img-info" src="assets/images/feather-info.svg" (click)="information()"> </ion-img>
    </ion-item>
  </ion-toolbar>
  <ion-slides [options]="slideOptsOne" #mySlider pager="true" (ionSlideWillChange)="slideChange()" [class]="modeClasse">
<ion-slide>
  <app-reglages></app-reglages>
</ion-slide>
    <ion-slide>
       <!-- <ion-row>
         <ion-item>
           <ion-label style="text-align:center;font: Poppins 20px  " >
             <span>Sélectionner votre Activité</span>
           </ion-label>
         </ion-item>
       </ion-row> -->
        <!-- start championnat block -->
          <ion-row class="firstPart" *ngIf="type==='Championnat'">
            <span [ngStyle]="{'padding' : activite?.padding2 ? activite?.padding2 : '0' }" class="rond" (click)="choisirActivite()">
              <ion-img [ngStyle]="{'width': activite?.width2 ? activite?.width2 : activite?.width2}" [src]="activite?.image"></ion-img>
              <span class="single">
                <ion-img src="assets/images/swap.svg"></ion-img>
              </span>
            </span>

          </ion-row>
          <ion-row class="row-activite" *ngIf="type==='Championnat'">
            <ion-label class="activite" >
             {{activite?.name}}
            </ion-label>
          </ion-row>
          <ion-row class="classic-item" *ngIf="type==='Championnat'">
            <ion-item lines="none" >
              <!-- end Championnat -->
              <span class="trace" >
                <ion-img src="assets/images/trace.svg" ></ion-img>
              </span>
              <span class="rondV"  ></span>


              <ion-label class="classic2" >
                {{categoryName}}
              </ion-label>
            </ion-item>
          </ion-row>

        <!-- end Championnat block -->
        <!-- start Challenge Block-->

        <ion-row class="firstPart3" *ngIf="type==='Challenge' ">
            <span [ngStyle]="{'padding' : activite?.padding2 ? activite?.padding2 : '0' }" class="rond" (click)="choisirActivite()">
              <ion-img [ngStyle]="{'width': activite?.width2 ? activite?.width2 : activite?.width2}" [src]="activite?.image"></ion-img>
              <span class="single">
                <ion-img src="assets/images/swap.svg"></ion-img>
              </span>
            </span>
        </ion-row>
        <ion-row class="row-activite" *ngIf="type==='Challenge' ">
          <ion-label class="activite" >
            {{activite?.name}}
          </ion-label>
        </ion-row>
        <ion-row class="classic-item" *ngIf="type==='Challenge' ">
          <ion-item lines="none">
              <span class="trace">
                <ion-img src="assets/images/sidactionIcon.svg"></ion-img>
              </span>
            <ion-label class="classic2">
              {{categoryName}}
            </ion-label>
          </ion-item>
        </ion-row>

        <ion-grid class="c-compt" *ngIf="type==='Challenge' ">
          <ion-row >
            <round-progress [current]="challengeStatus" [max]="max" [color]="'#F9608F'" [background]="'rgb(150, 149, 149)'"
                            [radius]="125" [stroke]="7">
            </round-progress>
            <div class="percentageValue">
              {{challengeStatus}} <span> %</span>
            </div>
          </ion-row>

        </ion-grid>


        <!-- end Challenge Block-->
      <!-- start seance libre -->
      <ion-row class="firstPart2" *ngIf="type==='Séance Libre'">
        <span [ngStyle]="{'padding' : activite.padding2 ? activite.padding2 : activite.padding2 }" class="rond" (click)="choisirActivite()">
          <ion-img [ngStyle]="{'width': activite?.width2 ? activite?.width2 : activite?.width2}" [src]="activite?.image"></ion-img>
          <span class="single">
            <ion-img src="assets/images/swap.svg"></ion-img>
          </span>
        </span>
      </ion-row>

      <ion-row class="row-activite" *ngIf="type==='Séance Libre'">
        <ion-label class="activite" >
          {{activite?.name}}
        </ion-label>
      </ion-row>
      <ion-row class="classic-item" *ngIf="type==='Séance Libre'">
        <ion-item lines="none">

          <ion-label class="classic">
            Séance Libre
          </ion-label>
        </ion-item>
      </ion-row>
      <!-- end seance libre block -->

    </ion-slide>
    <ion-slide>
      <!-- <ion-row>
        <ion-item>
          <ion-label style="text-align:center;font: Poppins 20px  " >
            <span>Sélectionner votre Activité</span>
          </ion-label>
        </ion-item>
      </ion-row> -->
      <!-- start championnat block -->
      <ion-row class="firstPart" *ngIf="type==='Championnat'">
            <span [ngStyle]="{'padding' : activite?.padding2 ? activite?.padding2 : '0' }" class="rond" (click)="choisirActivite()">
              <ion-img [ngStyle]="{'width': activite?.width2 ? activite?.width2 : activite?.width2}" [src]="activite?.image"></ion-img>
              <span class="single">
                <ion-img src="assets/images/swap.svg"></ion-img>
              </span>
            </span>

      </ion-row>
      <ion-row class="row-activite" *ngIf="type==='Championnat'">
        <ion-label class="activite" >
          {{activite?.name}}
        </ion-label>
      </ion-row>
      <ion-row class="classic-item" *ngIf="type==='Championnat'">
        <ion-item lines="none" >
          <!-- end Championnat -->
          <span class="trace" >
                <ion-img src="assets/images/trace.svg" ></ion-img>
              </span>
          <span class="rondV"  ></span>


          <ion-label class="classic2" >
            {{categoryName}}
          </ion-label>
        </ion-item>
      </ion-row>

      <!-- end Championnat block -->
      <!-- start Challenge Block-->

      <ion-row class="firstPart3" *ngIf="type==='Challenge' ">
            <span [ngStyle]="{'padding' : activite?.padding2 ? activite?.padding2 : '0' }" class="rond" (click)="choisirActivite()">
              <ion-img [ngStyle]="{'width': activite?.width2 ? activite?.width2 : activite?.width2}" [src]="activite?.image"></ion-img>
              <span class="single">
                <ion-img src="assets/images/swap.svg"></ion-img>
              </span>
            </span>
      </ion-row>
      <ion-row class="row-activite" *ngIf="type==='Challenge' ">
        <ion-label class="activite" >
          {{activite?.name}}
        </ion-label>
      </ion-row>
      <ion-row class="classic-item" *ngIf="type==='Challenge' ">
        <ion-item lines="none">
              <span class="trace">
                <ion-img src="assets/images/sidactionIcon.svg"></ion-img>
              </span>
          <ion-label class="classic2">
            {{categoryName}}
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-grid class="c-compt" *ngIf="type==='Challenge' ">
        <ion-row >
          <round-progress [current]="challengeStatus" [max]="max" [color]="'#F9608F'" [background]="'rgb(150, 149, 149)'"
                          [radius]="125" [stroke]="7">
          </round-progress>
          <div class="percentageValue">
            {{challengeStatus}} <span> %</span>
          </div>
        </ion-row>

      </ion-grid>


      <!-- end Challenge Block-->
      <!-- start seance libre -->
      <ion-row class="firstPart2" *ngIf="type==='Séance Libre'">
        <span [ngStyle]="{'padding' : activite.padding2 ? activite.padding2 : activite.padding2 }" class="rond" (click)="choisirActivite()">
          <ion-img [ngStyle]="{'width': activite?.width2 ? activite?.width2 : activite?.width2}" [src]="activite?.image"></ion-img>
          <span class="single">
            <ion-img src="assets/images/swap.svg"></ion-img>
          </span>
        </span>
      </ion-row>

      <ion-row class="row-activite" *ngIf="type==='Séance Libre'">
        <ion-label class="activite" >
          {{activite?.name}}
        </ion-label>
      </ion-row>
      <ion-row class="classic-item" *ngIf="type==='Séance Libre'">
        <ion-item lines="none">

          <ion-label class="classic">
            Séance Libre
          </ion-label>
        </ion-item>
      </ion-row>
      <!-- end seance libre block -->

    </ion-slide>
      </ion-slides>
      <ion-grid [class]="demarrage">
        <ion-row class="row-demarrage">
          <ion-item lines="none">
            <span class="param" slot="start" (click)="reglage(mySlider)">
              <ion-img src="assets/images/settings.svg"></ion-img>
            </span>
            <ion-img class="feather-rose" *ngIf="!isActif" src="assets/images/warning.svg"></ion-img>

            <span class="start" (click)="start()">
              <ion-img  src="assets/images/play.svg"></ion-img>
            </span>

            <span class="photo" slot="end" (click)="openCamera()">
              <ion-img src="assets/images/photo.svg"></ion-img>
            </span>
          </ion-item>
        </ion-row>
      </ion-grid>


    </ion-content>
