<ion-content>
  <ion-toolbar>
    <ion-img
      slot="start"
      (click)="close()"
      class="close"
      src="assets/images/closeGray.svg"
    ></ion-img>
    <ion-title class="name">POSTER UN MEDIA</ion-title>
  </ion-toolbar>
  <ion-row>
    <img [src]="picture" class="c-img" />
  </ion-row>
  <ion-row class="activite">
    <span class="rond">
      <ion-img [src]="activite.image"></ion-img>
    </span>
    <span class="nameActivity">{{ activite.name }}</span>
  </ion-row>
  <ion-row class="message">
    <ion-input
      (keyup.enter)="publier()"
      (ionBlur)="blur($event)"
      (ionFocus)="active($event)"
      (ionChange)="changeInput($event)"
      class="c-textarea"
      placeholder="Commentez votre post"
    >
    </ion-input>
    <ion-img class="crayon" src="assets/images/crayon.PNG"></ion-img>
  </ion-row>
  <!-- <ion-fab
    *ngIf="!isVisible"
    class="c-ion-fab"
    (click)="publier()"
    vertical="bottom"
    slot="fixed"
  >
    <span>Publier</span>
  </ion-fab> -->
</ion-content>
<ion-footer>
  <ion-footer>
    <ion-button
      *ngIf="!isVisible"
      expand="block"
      class="c-ion-fab"
      (click)="publier()"
      type="submit"
      >Publier</ion-button
    >
  </ion-footer>
</ion-footer>
