// .swiper-slide {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
ion-content{
  height: 100% !important;
  --offset-bottom: 0 !important;
}
ion-card-header {
  height: 460px;
}



.c-slide{
  height: 100% !important;
}
.udoLogo{
  margin: 30px auto 30px auto;
  width: 82px;
  height: 25px;
}
.c-slide1{
  background-color:#352D8F;
  .c-image {
    ion-img{
      width: 414px;
      height: 461px;
    }
  }
  .c-row-img{
    background-color:#1B1231 ;
    height: 513px;
  }
  .titre{
    letter-spacing: -1.9px;
    color: #E4E4E4;
    text-transform: capitalize;
    opacity: 1;
    font-size: 38px;
    font-family: "PoppinsBold" !important;
    margin-left: 39px;
    margin-top: 39px;
  }
  .description{
    font-size: 16px;
    letter-spacing: 0px;
    color: #FBFBFB;
    opacity: 0.61;
    font-family: "PoppinsMedium" !important;
    margin-left: 39px;
    margin-top: 9px;
    width: 269px;
    text-align: left;
  }
}
.c-slide2{
  background-color:#1F88F2;
  .c-image {
    margin: auto;
    ion-img{
      width: 336px;
      height: 399px;
    }
  }
  .titre{
    letter-spacing: -1.9px;
    color: #E4E4E4;
    text-transform: capitalize;
    opacity: 1;
    font-size: 36px;
    font-family: "PoppinsBold" !important;
    margin-left: 39px;
    margin-top: 39px;
  }
  .description{
    font-size: 16px;
    letter-spacing: 0px;
    color: #FBFBFB;
    opacity: 0.61;
    font-family: "PoppinsMedium" !important;
    margin-left: 39px;
    margin-top: 9px;
    width: 336px;
    text-align: left;
  }

}
.c-slide3{
  background-color:#121214;
  .c-image {
    margin: auto;
    ion-img{
      width: 390px;
      height: 421px;
    }
  }
  .titre{
    letter-spacing: -1.9px;
    color: #E4E4E4;
    text-transform: capitalize;
    opacity: 1;
    font-size: 36px;
    font-family: "PoppinsBold" !important;
    margin-left: 39px;
    margin-top: 39px;
  }
  .description{
    font-size: 16px;
    letter-spacing: 0px;
    color: #FBFBFB;
    opacity: 0.61;
    font-family: "PoppinsMedium" !important;
    margin-left: 39px;
    margin-top: 9px;
    width: 336px;
    text-align: left;
  }

}
.c-slide4{
  background-color:#4E31AD;
  .c-image {
    margin: auto;
    ion-img{
      width: 413px;
      height: 430px;
    }
  }
  .titre{
    letter-spacing: -1.9px;
    color: #E4E4E4;
    text-transform: capitalize;
    opacity: 1;
    font-size: 36px;
    font-family: "PoppinsBold" !important;
    margin-left: 39px;
    margin-top: 39px;
    width: 234px;
    text-align: left;
    line-height: 40px;
  }
  .description{
    font-size: 16px;
    letter-spacing: 0px;
    color: #FBFBFB;
    opacity: 0.61;
    font-family: "PoppinsMedium" !important;
    margin-left: 39px;
    margin-top: 9px;
    width: 336px;
    text-align: left;
  }

}
.row-demarrer{
  z-index: 9999999999999999 !important;
  height: 111px;
  text-align: center;
  padding-top: 30px;
  .demarrer{
    border: 2px solid #d3d3de82;
    border-radius: 33px;
    padding: 23px 110px;
    text-align: center;
    font-size: 18px;
    font-family: "PoppinsSemiBold" !important;
    letter-spacing: 0px;
    color:#d3d3de82;
    opacity: 1;
    margin: auto;
  }
}
