ion-card.cardActivities {
  flex: 1;
  min-width: 40%;
  margin: 0;
  height: 135px;
  --background: #eaebef;
  box-shadow: none;
}

.iconTitle {
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
