<ion-content>
<swiper #swiper [config]="config" style="padding-left: 15px">
  <ng-template swiperSlide *ngFor="let champ of championnats; let i = index">
    <ion-card
      [ngStyle]="{ 'background-image': 'url(' + champ.banniere + ')' }"
      (click)="choice(champ)"
    >
      <ion-card-header>
        <ion-card-title class="cardSlide">
          <img
            [src]="champ.createur.avatar"
            alt=""
            style="width: 34px; height: 34px; border-radius: 50%"
          />
          <div style="display: flex; flex-direction: column; gap: 5px">
            <ion-label
              style="font-size: 12px; color: white; font-weight: 700"
              >{{ champ.name }}</ion-label
            >
            <ion-note style="font-size: 10px; color: white; font-weight: 700">
              {{ champ.createur.name }}
            </ion-note>
          </div>
        </ion-card-title>
        <div class="typeLogo">
          <img
            src="../../../assets/icon/Icon feather-globe.svg"
            alt=""
            *ngIf="champ.type == 'Network'"
          />
          <img
            src="../../../assets/icon/FriendsFamilly.svg"
            alt=""
            *ngIf="champ.type == 'Friends&Familly'"
          />
        </div>
      </ion-card-header>

      <ion-card-content class="cardContentZone">
        <ion-item style="--background: transparent" lines="none">
          <ion-label>
            {{ champ.position + 1 }}
          </ion-label>
          <div style="display: flex; gap: 5px; flex-direction: column">
            <ion-note>{{ champ.dateFin | timeRelative | uppercase }}</ion-note>
            <ion-note style="font-size: 12px; color: white; font-weight: 700"
              >J. {{ userInfo?.journeeEnCours }}
              <ion-chip> + {{ userInfo?.bonus }} </ion-chip>
            </ion-note>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
</swiper>
