<ion-header mode="ios">
  <ion-toolbar style="--border-width: 0 0 0 !important">
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="../../../../assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
  </ion-toolbar>
  <div style="padding: 0 15px 20px; height: 214px" class="cardAnim">
    <ng-template #competTemplate>
      <ion-card
        @flyInOut
        [ngClass]="{ notActive: segmentValue != 'resume' }"
        style="
          position: absolute;
          width: 92%;
          margin: 0;
          background-image: url('assets/icon/udoIconFond.svg');
          background-color: #e3e3e3;
          background-position: center;
          background-repeat: no-repeat;
        "
      >
        <ion-card-header>
          <ion-skeleton-text style="width: 30%" animated></ion-skeleton-text>
        </ion-card-header>

        <ion-card-content class="champ">
          <div style="display: flex">
            <ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <!-- <ng-container *ngIf="!loadingComp; else competTemplate"> -->
    <ng-container *ngIf="entryData == 'championnats'; else challCard">
      <ion-card
        [style.backgroundColor]="competition.banniere.color"
        style="
          background-image: url('assets/icon/udoIconFond.svg');
          background-position: center;
          background-repeat: no-repeat;
        "
      >
        <ion-card-header>
          <ion-card-subtitle *ngIf="competition?.status == 'en cours'">
            FIN {{ competition?.dateFin | timeChamp }}
          </ion-card-subtitle>
          <ion-card-subtitle *ngIf="competition?.status == 'en attente'">
            DEMARRAGE {{ competition?.dateDemarrage | timeChamp }}
          </ion-card-subtitle>
          <ion-card-title style="color: white">{{
            competition?.name
          }}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="champ">
          <div style="display: flex">
            <ng-container *ngFor="let champ of participantsList; let i = index">
              <ion-avatar
                style="--i : {{ i }}; --mess : {{ champ.user.niveau }} "
              >
                <img [src]="champ?.user.avatar" alt="" />
                <ion-badge>{{ champ.user.niveau }}</ion-badge>
              </ion-avatar>
            </ng-container>

            <div
              class="champCarousel"
              *ngIf="
                competition.participants.length - participantsList.length != 0
              "
            >
              <p style="font-size: 20px">
                +
                {{ competition.participants.length - participantsList.length }}
              </p>
            </div>
          </div>

          <ion-label class="position">
            {{ position }}
            <span
              style="
                position: absolute;
                font-size: 12px;
                text-transform: uppercase;
                top: 7px;
                margin-left: 5px;
              "
              >{{ position == 1 ? "er" : "ème" }}</span
            >
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #challCard>
      <ion-card
        class="cardAnim"
        [style.backgroundColor]="competition.banniereColor"
        style="
          background-image: url('assets/icon/udoIconFond.svg');
          background-position: center;
          background-repeat: no-repeat;
        "
      >
        <span style="width: 150px; position: absolute; right: 5px; top: 15px">
          <img [src]="competition.banniereImage" alt="" />
        </span>

        <ion-card-header>
          <ion-card-title class="cardSlide">
            <div style="display: flex; align-items: center; gap: 5px">
              <img
                [src]="competition.icon"
                alt=""
                style="width: 34px; height: 34px; border-radius: 50%"
              />
              <ion-label
                style="font-size: 12px; color: white; font-weight: 700"
                >{{ competition.name }}</ion-label
              >
            </div>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="challenge">
          <ion-item
            style="--background: transparent; --inner-padding-end: 0"
            lines="none"
          >
            <ion-label slot="start">
              {{
                (competition.completion.value / competition.objectifs) * 100
                  | number: "1.1-1"
              }}
              %
            </ion-label>
            <ion-label style="font-size: 14px; text-align: end; margin-right: 0"
              >{{ competition.completion.value | number: "1.1-1" }}/{{
                competition.objectifs
              }}
              {{ competition.metric.metric }}</ion-label
            >
          </ion-item>
          <ion-progress-bar
            [value]="loaderValue"
            style="
              --progress-background: white;
              height: 6px;
              border-radius: 10px;
            "
          ></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <!-- </ng-container> -->
  </div>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [value]="segmentValue"
    mode="ios"
  >
    <ion-segment-button value="resume">
      <ion-label>Résumé</ion-label>
    </ion-segment-button>
    <ion-segment-button value="participants">
      <ion-label>Participants</ion-label>
    </ion-segment-button>
    <ion-segment-button value="feed">
      <ion-label>Feed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section *ngIf="segmentValue == 'feed'">
    <ion-toolbar
      mode="ios"
      style="
        --border-width: 0 0 0.55px;
        --padding-start: 15px;
        --padding-end: 15px;
      "
    >
      <div style="display: flex; flex-direction: column">
        <ion-item lines="none">
          <ion-avatar slot="start" style="margin-right: 15px">
            <img [src]="user.avatar" alt="" />
            <ion-badge>{{ user.niveau }}</ion-badge>
          </ion-avatar>

          <ion-input
            #inputFeed
            (ionChange)="inputRead($event)"
            mode="ios"
            inputmode="text"
            clear-on-edit
            placeholder="Publier un post"
          ></ion-input>
          <div *ngIf="boole">test</div>
          <ion-button
            slot="end"
            type="submit"
            (click)="send()"
            style="
              --border-radius: 50%;
              --background: #0a122129;
              --backdrop-opacity: 9%;
              height: 30px;
              width: 30px;
              margin-right: 0;
            "
          >
            <img src="assets/icon/icons8-email-send.svg" alt="" />
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-icon
            *ngIf="!picture"
            name="image-outline"
            (click)="addContenu()"
            slot="start"
          ></ion-icon>
          <!-- <ion-icon name="camera-outline" (click)="addContenu()"></ion-icon> -->
          <div style="position: relative" *ngIf="picture">
            <img [src]="picture" alt="" class="photoJoin" />
            <img
              src="assets/icon/closeIconPhoto.svg"
              class="iconPhotoJoin"
              alt=""
              (click)="deletePhoto()"
            />
          </div>
        </ion-item>
      </div>
    </ion-toolbar>
  </section>
</ion-header>

<ion-content>
  <ng-container *ngIf="loadingComp">
    <div
      style="
        height: 280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <ion-spinner
        name="crescent"
        style="height: 100px; width: 100px"
      ></ion-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="entryData == 'championnats'; else challenges">
    <ng-container *ngIf="championnat">
      <app-champ-template
        [championnat]="championnat"
        [user]="user"
        [userEncours]="userEncours"
        [participantsList]="participantsList"
        [segmentValue]="segmentValue"
        [competition]="entryData"
        [feed]="feed"
        [lastVisible]="lastVisible"
        [loadFeed]="loadFeed"
      ></app-champ-template>
    </ng-container>
  </ng-container>
  <ng-template #challenges>
    <ng-container *ngIf="challenge">
      <app-chall-template
        [challenge]="challenge"
        [user]="user"
        [userEncours]="userEncours"
        [participantsList]="participantsList"
        [segmentValue]="segmentValue"
        [competition]="entryData"
        [feed]="feed"
        [loadFeed]="loadFeed"
        [lastVisible]="lastVisible"
      ></app-chall-template>
    </ng-container>
  </ng-template>
  <div
    style="
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      z-index: 100;
      padding-bottom: 4px;
    "
  >
    <ng-container *ngIf="!loadingComp">
      <ng-container *ngIf="championnat">
        <ng-container *ngIf="show; else noLevel">
          <ion-button
            class="buttonNextSlide"
            style=" --i : {{ championnat.banniere.color }}"
            (click)="startChamp()"
            *ngIf="
              championnat.status == 'en attente' &&
              championnat.createur.uid == user.uid
            "
            >{{ loading ? "" : "Démarrer"
            }}<ion-spinner
              *ngIf="loading"
              name="crescent"
              mode="md"
            ></ion-spinner
          ></ion-button>
          <ion-button
            class="buttonNextSlide"
            style=" --i : {{ championnat.banniere.color }}"
            (click)="participer('championnat')"
            *ngIf="
              championnat?.status == 'en attente' &&
              (userEncours?.etat == 'en attente' || !userEncours)
            "
            >Participer</ion-button
          >
          <ion-button
            class="buttonNextSlide"
            style=" --i : {{ championnat.banniere.color }}"
            *ngIf="
              championnat?.status == 'en attente' &&
              userEncours?.etat == 'prêt' &&
              championnat?.createur.uid != user.uid
            "
          >
            <ion-spinner
              *ngIf="loading"
              name="crescent"
              mode="md"
            ></ion-spinner>
            <span *ngIf="!loading">
              {{ championnat.dateDemarrage | timeChamp }}</span
            ></ion-button
          >
          <ion-button
            style=" --i : {{ championnat.banniere.color }}"
            (click)="seanceNow()"
            *ngIf="championnat?.status == 'en cours'"
            class="buttonNextSlide"
            >Séance Now</ion-button
          >
        </ng-container>
        <ng-template #noLevel>
          <ion-button color="dark" disabled class="buttonNextSlide"
            >Vous n'avez pas le niveau</ion-button
          >
        </ng-template>
        <ion-fab
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="
            championnat?.createur.uid == user.uid &&
            championnat?.status == 'en attente'
          "
        >
          <ion-fab-button color="dark">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button color="primary" (click)="addFriend()">
              <img src="assets/icon/friends-white.svg" alt="" />
            </ion-fab-button>
            <ion-fab-button color="success" (click)="chat()">
              <img src="assets/icon/chat_white.svg" alt="" />
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ng-container>
      <ng-container *ngIf="challenge">
        <ion-button
          class="buttonNextSlide"
          style=" --i : {{ challenge.banniereColor }}"
          (click)="startChall()"
          *ngIf="
            challenge &&
            challenge.status == 'en attente' &&
            user.uid == challenge.userId
          "
          >{{ loading ? "" : "Démarrer"
          }}<ion-spinner *ngIf="loading" name="crescent" mode="md"></ion-spinner
        ></ion-button>
        <ion-button
          class="buttonNextSlide"
          style=" --i : {{ challenge.banniereColor }}"
          (click)="participer('challenge')"
          *ngIf="
            (challenge && !userEncours) ||
            (challenge && userEncours && userEncours.etat == 'en attente')
          "
          >Participer</ion-button
        >
        <ion-button
          class="buttonNextSlide"
          style=" --i : {{ challenge.banniereColor }}"
          *ngIf="
            challenge &&
            challenge?.status == 'en attente' &&
            userEncours &&
            userEncours.etat == 'prêt' &&
            user.uid != challenge.userId
          "
          ><span *ngIf="!loading"> {{ startDate }}</span></ion-button
        ><ion-spinner *ngIf="loading" name="crescent" mode="md"></ion-spinner>
        <ion-button
          style=" --i : {{ challenge.banniereColor }}"
          (click)="seanceNow()"
          *ngIf="challenge && challenge?.status == 'en cours' && userEncours"
          class="buttonNextSlide"
          >Séance Now</ion-button
        >
        <ion-fab
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="
            admin &&
            challenge &&
            (challenge.status == 'en cours' || challenge.status == 'en cours')
          "
        >
          <ion-fab-button color="dark">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button color="primary" (click)="addFriend()">
              <img src="assets/icon/friends-white.svg" alt="" />
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
