
<ion-content>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-img slot="start" class="close" (click)="close()" src="assets/images/close.svg"> </ion-img>
      <ion-title>Encouragements</ion-title>
      <span class="c-head-label" slot="end"> 1307</span>
    </ion-item>
  </ion-toolbar>
  <ion-row class="c-row">
    <ion-item lines="none" class="c-item" *ngFor="let item of listNotif">
      <ion-row slot="start" class="c-row-first">
        <ion-img [src]="item?.img" class="img-personn"></ion-img>
        <span class="nombre"> {{item?.nombre}}</span>
      </ion-row>
      <ion-grid class="c-grid">
        <ion-row>
          <ion-item lines="none" class="item-name">
            <span class="name"> {{item?.name}} </span>
            <!-- <span class="point" ></span> -->
            <span slot="end" class="date"> {{item?.date}} </span>
          </ion-item>
        </ion-row>

        <ion-row class="comment">
          <span>
            {{item?.comment}}
          </span>
        </ion-row>
      </ion-grid>
      <ion-img slot="end" class="icon-end" [src]="item?.icon"></ion-img>
    </ion-item>
    <!-- fab placed to the top end -->
  </ion-row>
  <ion-fab class="c-ion-fab" (click)="close()" vertical="center" horizontal="center" slot="fixed">
    <!-- <ion-fab-button> -->
    <span class="c-fab">
      <span class="textFab">{{counter?.mn | number: '2.0-0'}}:{{counter?.s| number: '2.0-0'}}</span>
      <ion-img src="assets/images/smallArrow.svg"></ion-img>
    </span>
    <!-- </ion-fab-button> -->
  </ion-fab>

</ion-content>