
ion-header{
    background-color: #F4F5FA !important;

    ion-toolbar{
        .close{
            width: 16px;
            height: 16px;
        }
        ion-title{
            text-align: center;
            color: #2A2A2C;
            font-family: "PoppinsBold" !important;
            font-size: 13px;
        }
        .c-head-label{
            background: #FFFFFF;
            color: #2A2A2C;
            border-radius: 15px;
            width: 50px;
            height: 31px;
            font-size: 11px;
            font-family: "StaatlichesRegular" !important;
            padding: 9px 0px;
            text-align: center;
        }
    }
}
ion-content{
    --background: #F4F5FA !important;
    .c-row{
        margin-top: 45px;
    }
    .c-item{
        --background: #FFFFFF;
        width: 95%;
        margin: 7px 11px;
        border-radius: 24px;
    }
    .point{
        position: absolute;
        width: 3px;
        height: 3px;
        background: #2A2A2C 0% 0% no-repeat padding-box;
        border-radius: 50%;
        margin-top: -28px;
        left: 55px;
    }
    .c-row-first{
        margin: 8px 0;
    }
    .nombre{
        width: 30px;
        background: white;
        border-radius: 50%;
        height: 30px;
        position: absolute;
        color: #14213A;
        margin-left: 39px;
        margin-top: 34px;
        font-size: 12px;
        padding-left: 8px;
        padding-top: 11px;
        font-family: "StaatlichesRegular" !important;
        display: none;
    }
    .item-name{
        --ion-background-color: transparent;
        margin-left: -18px;
        width: 100%;
    }
    .c-grid{
        margin-left: 15px;
    }
    .name{
        color: #2A2A2C;
        font-family: "PoppinsSemiBold" !important;
        font-size: 14px;
        margin-top: -18px;
    }
    .date{
        color: #2A2A2C;
        font-size: 10px;
        margin-left: -103px;
        margin-top: -19px;
        opacity: 50%;
    }
    .comment{
        opacity: 75%;
        margin-top: -23px;
        font-family: "PoppinsMedium" !important;
        color: #2A2A2C;
        font-size: 12px;
    }
    .icon-end{
        position: relative;
        right: -15px;
        bottom: -20px;
        z-index: 9999999999;
        width: 55px;
        height: 53px;
    }
    .c-ion-fab{
        width: 128px;
        height: 55px;
        margin-bottom: 20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 13px 36px #00000029;
        border-radius: 27px;
        opacity: 1;
        .c-fab{
            display: flex;
            padding:19px 0;
            padding-left: 23px;
        }
        .textFab{
            font-family: "PoppinsBold" !important;
            letter-spacing: -0.16px;
            color: #19191C;
            font-size: 16px;
        }
        ion-img{
            width: 14px;
            margin-left: 34px;
        }
    }

    .img-empty{
        width: 220px;
        margin-top: 146px!important;
        margin: auto;

    }
    .message{
        font-family: "PoppinsSemiBold" !important;
        color: #000000;
        margin: auto;
        margin-top: 75px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .c-text{
        color: #707070;
        font-family: "PoppinsMedium" !important;
        font-size: 15px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }
}
