/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//Swiper
@import "~swiper/swiper-bundle";

ion-content,
ion-header,
ion-footer {
  --background: #f7f7fa;
}

ion-toolbar,
ion-item {
  --background: #ffffff00;
}

* {
  font-family: "Poppins", sans-serif !important;
}

h4 {
  font-size: 14px;
}

.detailPhoto .modal-wrapper {
  --backdrop-opacity: 0.5;
}

.sousTitre {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.black {
  color: black !important;
}

.grey {
  color: #707070;
}

.toastMode {
  --background: black;
  --color: white;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../src/assets/font/Poppins-Bold.ttf");
  /* src: url("../fonts/GellixBlack.otf") format("embedded-opentype"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.ttf") format("truetype"), url("../fonts/GilroyBold.svg#GilroyBold") format("svg");
*/
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../src/assets/font/Poppins-SemiBold.ttf");
  /* src: url("../fonts/GellixBlack.otf") format("embedded-opentype"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.ttf") format("truetype"), url("../fonts/GilroyBold.svg#GilroyBold") format("svg");
*/
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../src/assets/font/Poppins-Medium.ttf");
  /* src: url("../fonts/GellixBlack.otf") format("embedded-opentype"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.ttf") format("truetype"), url("../fonts/GilroyBold.svg#GilroyBold") format("svg");
*/
}

@font-face {
  font-family: "AllRoundGothicBold";
  src: url("../src/assets/font/Round_Bold.ttf");
  /* src: url("../fonts/GellixBlack.otf") format("embedded-opentype"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.ttf") format("truetype"), url("../fonts/GilroyBold.svg#GilroyBold") format("svg");
*/
}

@font-face {
  font-family: "StaatlichesRegular";
  src: url("../src/assets/font/Staatliches-Regular.ttf");
  /* src: url("../fonts/GellixBlack.otf") format("embedded-opentype"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.ttf") format("truetype"), url("../fonts/GilroyBold.svg#GilroyBold") format("svg");
*/
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}
.slides-md {
  --bullet-background: var(--ion-color-step-200, #19191cab) !important;
  --bullet-background-active: var(
    --ion-color-primary-contrast,
    #19191cab
  ) !important;
  --progress-bar-background: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.25
  ) !important;
  --progress-bar-background-active: var(
    --ion-color-primary-contrast,
    #19191cab
  ) !important;
  --scroll-bar-background: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.1
  ) !important;
  --scroll-bar-background-active: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.5
  ) !important;
}
ion-slides.aideSlide
  .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  opacity: 1;
  background: #19191cab !important;
}
ion-slides.preseanceSlide
  .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  opacity: 1;
  background: #19191cab !important;
}
ion-slides.aideSlide {
  height: 92%;
}
ion-slides.preseanceSlide {
  height: 92%;
}
.swiper-slide {
  display: block;
}
.item-inner {
  border-style: none !important;
}

.c-header .header-md::after {
  background-image: none !important;
}
.toggle-calm .toggle-inner {
  width: 16px;
  height: 16px;
  margin-left: 2px;
}
.my-custom-contenu-modal {
  --background: #ffffff4f;
}
.toogle-inner {
  width: 17px !important;
  height: 17px !important;
}

.modalEmojis .modal-wrapper {
  --backdrop-opacity: 0.8;
  height: 500px;
  width: 90%;
  border-radius: 35px;
}
.my-custom-show-notification-modal {
  height: 81px;
  border-radius: 24px;
  margin-top: 8px !important;
  --backdrop-opacity: 0 !important;
  width: 93%;
  margin: auto;
}
