<ion-content>
  <ion-toolbar>
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/mocks/Icon feather-share-2.svg" alt="" />
      </ion-button>
      <ion-button>
        <img src="assets/mocks/Icon feather-settings.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <section style="height: 200px; position: relative; margin-bottom: 150px">
    <ion-card
      style="
        background: transparent
          linear-gradient(180deg, #53545c 0%, #1a1718 100%);
        border-radius: 22px;
        height: 100%;
      "
    >
    </ion-card>
    <div
      style="
        width: 200px;
        position: absolute;
        bottom: -130px;
        left: calc(50% - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <ion-avatar>
        <img
          src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
          alt=""
          *ngIf="!user.avatar"
        />
        <img [src]="user.avatar" *ngIf="user.avatar" alt="" />
        <ion-badge>{{ user.niveau }}</ion-badge>
      </ion-avatar>
      <h3>{{ user.userName }}</h3>
      <div style="display: flex; gap: 10px; align-items: center">
        <p>{{ user.friends.length }} amis</p>
        <ion-chip>
          <ion-label style="font-size: 10px">Avancé</ion-label>
        </ion-chip>
      </div>
    </div>
  </section>
  <section style="padding: 0 15px; margin-top: 50px">
    <ion-segment
      mode="ios"
      (ionChange)="segmentChanged($event)"
      [value]="seg"
      style="--background: #dfdfe8; margin-bottom: 20px"
    >
      <ion-segment-button value="resume">Résumé </ion-segment-button>
      <ion-segment-button value="amis"> amis </ion-segment-button>
      <!-- <ion-segment-button value="historique"> Historique </ion-segment-button> -->
    </ion-segment>
    <section *ngIf="seg == 'amis'">
      <app-friend-page-list [friends]="user.friends"></app-friend-page-list>
    </section>
    <section *ngIf="seg == 'resume'">
      <app-user-param [user]="user"></app-user-param>
    </section>
  </section>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="userId != currentUser.uid"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addFriend()" *ngIf="!friendBool">
        <img src="assets/icon/friends-white.svg" alt="" />
      </ion-fab-button>
      <ion-fab-button
        color="warning"
        (click)="removeFriend()"
        *ngIf="friendBool"
      >
        <img src="assets/icon/friends-white.svg" alt="" />
      </ion-fab-button>
      <ion-fab-button color="success" (click)="chat()">
        <img src="assets/icon/chat_white.svg" alt="" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
