<ion-content>
  <ion-toolbar>
    <ion-button
      slot="start"
      (click)="close()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-thumbnail
      class="delete"
      (click)="removeFriend(user)"
      slot="end"
      *ngIf="friendBool && userId != currentUser.uid"
      style="
        background-image: url('assets/icon/delete.svg');
        --background: black;
      "
    >
    </ion-thumbnail>
    <ion-thumbnail
      (click)="addFriend(user)"
      class="add"
      slot="end"
      style="background-image: url('assets/icon/add.svg'); --background: white"
      *ngIf="!friendBool && userId != currentUser?.uid"
    >
    </ion-thumbnail>
  </ion-toolbar>
  <section style="margin-bottom: 30px; position: relative">
    <div style="display: flex; flex-direction: column; align-items: center">
      <ion-avatar>
        <img [src]="userInfo ? userInfo.avatar : user?.avatar" alt="" />
        <ion-badge class="badgeTop">{{
          userInfo ? userInfo.niveau : user?.niveau
        }}</ion-badge>
      </ion-avatar>
      <h3 style="font-weight: 700; margin: 0">
        {{ userInfo ? userInfo.userName : user?.userName }}
      </h3>
      <div style="display: flex; gap: 10px; align-items: center">
        <ion-label style="font-weight: 600; color: #707070" *ngIf="user">
          {{
            user.friends
              ? user.friends.length == 1
                ? "1 ami"
                : user.friends.length == 0
                ? 0 + " ami"
                : user.friends.length + " amis"
              : 0 + " ami"
          }}
        </ion-label>
        <ion-skeleton-text
          style="width: 100px; font-size: 16px; font-weight: 600"
          animated
          *ngIf="!user"
        ></ion-skeleton-text>
      </div>
    </div>
  </section>
  <section style="padding: 0 15px">
    <ion-segment
      mode="ios"
      (ionChange)="segmentChanged($event)"
      [value]="seg"
      style="--background: #dfdfe8; margin-bottom: 20px"
    >
      <ion-segment-button value="resume"
        ><ion-label> Résumé </ion-label></ion-segment-button
      >
      <ion-segment-button value="amis">
        <ion-label> amis </ion-label></ion-segment-button
      >
    </ion-segment>
    <section *ngIf="seg == 'amis'">
      <ng-container *ngIf="user.friends">
        <ion-item
          lines="full"
          class="champColor"
          *ngFor="let friend of user.friends"
        >
          <ion-avatar class="avatarClass" (click)="openProfil(friend)">
            <img *ngIf="friend.avatar" [src]="friend.avatar" alt="" />
            <ion-badge class="badgeClass">{{ friend.niveau }}</ion-badge>
          </ion-avatar>
          <ion-label>
            <p class="sousTitre">{{ friend.userName }}</p>
          </ion-label>
          <ng-container *ngIf="friend.uid != currentUser?.uid">
            <ng-container *ngIf="friendFind(friend)">
              <ion-thumbnail
                class="delete"
                (click)="removeFriend(friend)"
                slot="end"
                style="background-image: url('assets/icon/delete.svg')"
              >
              </ion-thumbnail>
              <ion-thumbnail
                (click)="chat(friend)"
                slot="end"
                style="
                  background-image: url('assets/icon/chat.svg');
                  background-color: white;
                "
              >
              </ion-thumbnail>
            </ng-container>
            <ion-thumbnail
              class="add"
              *ngIf="!friendFind(friend)"
              (click)="addFriend(friend)"
              slot="end"
              style="background-image: url('assets/icon/add.svg')"
            >
            </ion-thumbnail>
          </ng-container>
        </ion-item>
      </ng-container>
    </section>
    <section *ngIf="seg == 'resume'">
      <app-user-param [user]="user" *ngIf="user"></app-user-param>
    </section>
  </section>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="userId != currentUser?.uid"
  >
    <ion-fab-button
      style="--background: white"
      (click)="chat(user)"
      *ngIf="friendBool"
    >
      <img src="assets/icon/chat.svg" alt="" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
