<ion-header>
  <ion-toolbar>
    <ion-button
      slot="start"
      (click)="back()"
      style="--background: transparent; --background-activated: transparent"
    >
      <img src="../../../../assets/mocks/Icon feather-arrow-left.svg" alt="" />
    </ion-button>
    <ion-title>Inviter des participants</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (ionChange)="filterFriends($event)"
      [(ngModel)]="filteredFriends"
      (ionClear)="clear($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<section style="padding-bottom: 100px">
  <ng-container *ngIf="friendsList && type; else showNone">
    <ion-item
      lines="full"
      class="champColor"
      *ngFor="let friend of friendsList"
    >
      <ion-avatar style="margin-right: 10px">
        <img
          *ngIf="!friend.avatar"
          src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
          alt=""
        />
        <img *ngIf="friend.avatar" [src]="friend.avatar" alt="" />
        <ion-badge>{{ friend.niveau }}</ion-badge>
      </ion-avatar>
      <ion-label>
        <p class="sousTitre">{{ friend.userName }}</p>
      </ion-label>
      <ion-checkbox (click)="selectFriend(friend)"></ion-checkbox>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="usersList">
    <ion-item lines="full" class="champColor" *ngFor="let friend of usersList">
      <ion-avatar style="margin-right: 10px">
        <img
          *ngIf="!friend.avatar"
          src="https://img.icons8.com/ios-filled/50/000000/gender-neutral-user.png"
          alt=""
        />
        <img *ngIf="friend.avatar" [src]="friend.avatar" alt="" />
        <ion-badge>{{ friend.niveau }}</ion-badge>
      </ion-avatar>
      <ion-label>
        <p class="sousTitre">{{ friend.userName }}</p>
      </ion-label>
      <ion-checkbox (click)="selectFriend(friend)"></ion-checkbox>
    </ion-item>
  </ng-container>
  <!-- <ng-template #showNone> <p>Aucn amis</p></ng-template> -->
  <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
    style="width: 100%; --ion-safe-area-left: 0px"
  >
    <ion-button expand="block" class="buttonNextSlide" (click)="create()"
      >Démarrer</ion-button
    >
  </ion-fab>
</section>
